<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.ClaimBillDetailMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.ClaimBillDetail" >
    <id column="claim_bill_detail_id" property="claimBillDetailId" jdbcType="VARCHAR" />
    <id column="payment_item_code" property="paymentItemCode" jdbcType="VARCHAR" />
    <result column="claim_bill_id" property="claimBillId" jdbcType="VARCHAR" />
    <result column="claim_bill_no" property="claimBillNo" jdbcType="VARCHAR" />
    <result column="payment_item_name" property="paymentItemName" jdbcType="VARCHAR" />
    <result column="payment_item_type" property="paymentItemType" jdbcType="VARCHAR" />
    <result column="payment_item_price" property="paymentItemPrice" jdbcType="INTEGER" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_reinsurance_no" property="policyReinsuranceNo" jdbcType="VARCHAR" />
    <result column="br_no" property="brNo" jdbcType="INTEGER" />
    <result column="insure_id" property="insureId" jdbcType="VARCHAR" />
    <result column="grade_level_id" property="gradeLevelId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="sub_duty_id" property="subDutyId" jdbcType="VARCHAR" />
    <result column="claim_item_option" property="claimItemOption" jdbcType="VARCHAR" />
    <result column="claim_item_result" property="claimItemResult" jdbcType="VARCHAR" />
    <result column="claim_item_amount" property="claimItemAmount" jdbcType="INTEGER" />
    <result column="claim_item_rate" property="claimItemRate" jdbcType="INTEGER" />
    <result column="reject_cause_code" property="rejectCauseCode" jdbcType="VARCHAR" />
    <result column="reject_cause" property="rejectCause" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    claim_bill_detail_id, payment_item_code, claim_bill_id, claim_bill_no, payment_item_name, 
    payment_item_type, payment_item_price, policy_no, policy_reinsurance_no, br_no, insure_id, 
    grade_level_id, product_id, duty_id, sub_duty_id, claim_item_option, claim_item_result, 
    claim_item_amount, claim_item_rate, reject_cause_code, reject_cause, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.junling.mis.model.primary.ClaimBillDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from claim_bill_detail
    where claim_bill_detail_id = #{claimBillDetailId,jdbcType=VARCHAR}
      and payment_item_code = #{paymentItemCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.junling.mis.model.primary.ClaimBillDetailKey" >
    delete from claim_bill_detail
    where claim_bill_detail_id = #{claimBillDetailId,jdbcType=VARCHAR}
      and payment_item_code = #{paymentItemCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.ClaimBillDetail" >
    insert into claim_bill_detail (claim_bill_detail_id, payment_item_code, 
      claim_bill_id, claim_bill_no, payment_item_name, 
      payment_item_type, payment_item_price, policy_no, 
      policy_reinsurance_no, br_no, insure_id, 
      grade_level_id, product_id, duty_id, 
      sub_duty_id, claim_item_option, claim_item_result, 
      claim_item_amount, claim_item_rate, reject_cause_code, 
      reject_cause, created_by, created_time, 
      updated_by, updated_time)
    values (#{claimBillDetailId,jdbcType=VARCHAR}, #{paymentItemCode,jdbcType=VARCHAR}, 
      #{claimBillId,jdbcType=VARCHAR}, #{claimBillNo,jdbcType=VARCHAR}, #{paymentItemName,jdbcType=VARCHAR}, 
      #{paymentItemType,jdbcType=VARCHAR}, #{paymentItemPrice,jdbcType=INTEGER}, #{policyNo,jdbcType=VARCHAR}, 
      #{policyReinsuranceNo,jdbcType=VARCHAR}, #{brNo,jdbcType=INTEGER}, #{insureId,jdbcType=VARCHAR}, 
      #{gradeLevelId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{dutyId,jdbcType=VARCHAR}, 
      #{subDutyId,jdbcType=VARCHAR}, #{claimItemOption,jdbcType=VARCHAR}, #{claimItemResult,jdbcType=VARCHAR}, 
      #{claimItemAmount,jdbcType=INTEGER}, #{claimItemRate,jdbcType=INTEGER}, #{rejectCauseCode,jdbcType=VARCHAR}, 
      #{rejectCause,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.ClaimBillDetail" >
    insert into claim_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="claimBillDetailId != null" >
        claim_bill_detail_id,
      </if>
      <if test="paymentItemCode != null" >
        payment_item_code,
      </if>
      <if test="claimBillId != null" >
        claim_bill_id,
      </if>
      <if test="claimBillNo != null" >
        claim_bill_no,
      </if>
      <if test="paymentItemName != null" >
        payment_item_name,
      </if>
      <if test="paymentItemType != null" >
        payment_item_type,
      </if>
      <if test="paymentItemPrice != null" >
        payment_item_price,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no,
      </if>
      <if test="brNo != null" >
        br_no,
      </if>
      <if test="insureId != null" >
        insure_id,
      </if>
      <if test="gradeLevelId != null" >
        grade_level_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="subDutyId != null" >
        sub_duty_id,
      </if>
      <if test="claimItemOption != null" >
        claim_item_option,
      </if>
      <if test="claimItemResult != null" >
        claim_item_result,
      </if>
      <if test="claimItemAmount != null" >
        claim_item_amount,
      </if>
      <if test="claimItemRate != null" >
        claim_item_rate,
      </if>
      <if test="rejectCauseCode != null" >
        reject_cause_code,
      </if>
      <if test="rejectCause != null" >
        reject_cause,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="claimBillDetailId != null" >
        #{claimBillDetailId,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemCode != null" >
        #{paymentItemCode,jdbcType=VARCHAR},
      </if>
      <if test="claimBillId != null" >
        #{claimBillId,jdbcType=VARCHAR},
      </if>
      <if test="claimBillNo != null" >
        #{claimBillNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemName != null" >
        #{paymentItemName,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemType != null" >
        #{paymentItemType,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemPrice != null" >
        #{paymentItemPrice,jdbcType=INTEGER},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        #{brNo,jdbcType=INTEGER},
      </if>
      <if test="insureId != null" >
        #{insureId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelId != null" >
        #{gradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="claimItemOption != null" >
        #{claimItemOption,jdbcType=VARCHAR},
      </if>
      <if test="claimItemResult != null" >
        #{claimItemResult,jdbcType=VARCHAR},
      </if>
      <if test="claimItemAmount != null" >
        #{claimItemAmount,jdbcType=INTEGER},
      </if>
      <if test="claimItemRate != null" >
        #{claimItemRate,jdbcType=INTEGER},
      </if>
      <if test="rejectCauseCode != null" >
        #{rejectCauseCode,jdbcType=VARCHAR},
      </if>
      <if test="rejectCause != null" >
        #{rejectCause,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.ClaimBillDetail" >
    update claim_bill_detail
    <set >
      <if test="claimBillId != null" >
        claim_bill_id = #{claimBillId,jdbcType=VARCHAR},
      </if>
      <if test="claimBillNo != null" >
        claim_bill_no = #{claimBillNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemName != null" >
        payment_item_name = #{paymentItemName,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemType != null" >
        payment_item_type = #{paymentItemType,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemPrice != null" >
        payment_item_price = #{paymentItemPrice,jdbcType=INTEGER},
      </if>
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        br_no = #{brNo,jdbcType=INTEGER},
      </if>
      <if test="insureId != null" >
        insure_id = #{insureId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelId != null" >
        grade_level_id = #{gradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="claimItemOption != null" >
        claim_item_option = #{claimItemOption,jdbcType=VARCHAR},
      </if>
      <if test="claimItemResult != null" >
        claim_item_result = #{claimItemResult,jdbcType=VARCHAR},
      </if>
      <if test="claimItemAmount != null" >
        claim_item_amount = #{claimItemAmount,jdbcType=INTEGER},
      </if>
      <if test="claimItemRate != null" >
        claim_item_rate = #{claimItemRate,jdbcType=INTEGER},
      </if>
      <if test="rejectCauseCode != null" >
        reject_cause_code = #{rejectCauseCode,jdbcType=VARCHAR},
      </if>
      <if test="rejectCause != null" >
        reject_cause = #{rejectCause,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where claim_bill_detail_id = #{claimBillDetailId,jdbcType=VARCHAR}
      and payment_item_code = #{paymentItemCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.ClaimBillDetail" >
    update claim_bill_detail
    set claim_bill_id = #{claimBillId,jdbcType=VARCHAR},
      claim_bill_no = #{claimBillNo,jdbcType=VARCHAR},
      payment_item_name = #{paymentItemName,jdbcType=VARCHAR},
      payment_item_type = #{paymentItemType,jdbcType=VARCHAR},
      payment_item_price = #{paymentItemPrice,jdbcType=INTEGER},
      policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      br_no = #{brNo,jdbcType=INTEGER},
      insure_id = #{insureId,jdbcType=VARCHAR},
      grade_level_id = #{gradeLevelId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      duty_id = #{dutyId,jdbcType=VARCHAR},
      sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      claim_item_option = #{claimItemOption,jdbcType=VARCHAR},
      claim_item_result = #{claimItemResult,jdbcType=VARCHAR},
      claim_item_amount = #{claimItemAmount,jdbcType=INTEGER},
      claim_item_rate = #{claimItemRate,jdbcType=INTEGER},
      reject_cause_code = #{rejectCauseCode,jdbcType=VARCHAR},
      reject_cause = #{rejectCause,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where claim_bill_detail_id = #{claimBillDetailId,jdbcType=VARCHAR}
      and payment_item_code = #{paymentItemCode,jdbcType=VARCHAR}
  </update>
</mapper>