<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.customerRelationMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.customerRelation" >
    <id column="customer_relation_id" property="customerRelationId" jdbcType="VARCHAR" />
    <result column="customer_organization_id" property="customerOrganizationId" jdbcType="VARCHAR" />
    <result column="relation_type" property="relationType" jdbcType="VARCHAR" />
    <result column="relation_customer" property="relationCustomer" jdbcType="VARCHAR" />
    <result column="relation_start_time" property="relationStartTime" jdbcType="TIMESTAMP" />
    <result column="relation_end_time" property="relationEndTime" jdbcType="TIMESTAMP" />
    <result column="relation_status" property="relationStatus" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    customer_relation_id, customer_organization_id, relation_type, relation_customer, 
    relation_start_time, relation_end_time, relation_status, created_by, created_time, 
    updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from customer_relation
    where customer_relation_id = #{customerRelationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from customer_relation
    where customer_relation_id = #{customerRelationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.customerRelation" >
    insert into customer_relation (customer_relation_id, customer_organization_id, 
      relation_type, relation_customer, relation_start_time, 
      relation_end_time, relation_status, created_by, 
      created_time, updated_by, updated_time
      )
    values (#{customerRelationId,jdbcType=VARCHAR}, #{customerOrganizationId,jdbcType=VARCHAR}, 
      #{relationType,jdbcType=VARCHAR}, #{relationCustomer,jdbcType=VARCHAR}, #{relationStartTime,jdbcType=TIMESTAMP}, 
      #{relationEndTime,jdbcType=TIMESTAMP}, #{relationStatus,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.customerRelation" >
    insert into customer_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerRelationId != null" >
        customer_relation_id,
      </if>
      <if test="customerOrganizationId != null" >
        customer_organization_id,
      </if>
      <if test="relationType != null" >
        relation_type,
      </if>
      <if test="relationCustomer != null" >
        relation_customer,
      </if>
      <if test="relationStartTime != null" >
        relation_start_time,
      </if>
      <if test="relationEndTime != null" >
        relation_end_time,
      </if>
      <if test="relationStatus != null" >
        relation_status,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerRelationId != null" >
        #{customerRelationId,jdbcType=VARCHAR},
      </if>
      <if test="customerOrganizationId != null" >
        #{customerOrganizationId,jdbcType=VARCHAR},
      </if>
      <if test="relationType != null" >
        #{relationType,jdbcType=VARCHAR},
      </if>
      <if test="relationCustomer != null" >
        #{relationCustomer,jdbcType=VARCHAR},
      </if>
      <if test="relationStartTime != null" >
        #{relationStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationEndTime != null" >
        #{relationEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationStatus != null" >
        #{relationStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.customerRelation" >
    update customer_relation
    <set >
      <if test="customerOrganizationId != null" >
        customer_organization_id = #{customerOrganizationId,jdbcType=VARCHAR},
      </if>
      <if test="relationType != null" >
        relation_type = #{relationType,jdbcType=VARCHAR},
      </if>
      <if test="relationCustomer != null" >
        relation_customer = #{relationCustomer,jdbcType=VARCHAR},
      </if>
      <if test="relationStartTime != null" >
        relation_start_time = #{relationStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationEndTime != null" >
        relation_end_time = #{relationEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationStatus != null" >
        relation_status = #{relationStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where customer_relation_id = #{customerRelationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.customerRelation" >
    update customer_relation
    set customer_organization_id = #{customerOrganizationId,jdbcType=VARCHAR},
      relation_type = #{relationType,jdbcType=VARCHAR},
      relation_customer = #{relationCustomer,jdbcType=VARCHAR},
      relation_start_time = #{relationStartTime,jdbcType=TIMESTAMP},
      relation_end_time = #{relationEndTime,jdbcType=TIMESTAMP},
      relation_status = #{relationStatus,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where customer_relation_id = #{customerRelationId,jdbcType=VARCHAR}
  </update>
</mapper>