<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.drugDataEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.drugDataEntity" >
    <result column="approval_number" property="approvalNumber" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="product_name_two" property="productNameTwo" jdbcType="VARCHAR" />
    <result column="formulation" property="formulation" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="production_unit" property="productionUnit" jdbcType="VARCHAR" />
    <result column="production_address" property="productionAddress" jdbcType="VARCHAR" />
    <result column="product_category" property="productCategory" jdbcType="VARCHAR" />
    <result column="approval_date" property="approvalDate" jdbcType="VARCHAR" />
    <result column="original_approval_number" property="originalApprovalNumber" jdbcType="VARCHAR" />
    <result column="drug_standard_code" property="drugStandardCode" jdbcType="VARCHAR" />
    <result column="drug_standard_code_note" property="drugStandardCodeNote" jdbcType="VARCHAR" />
    <result column="related_database_query" property="relatedDatabaseQuery" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.junling.mis.model.primary.drugDataEntity" >
    insert into drug_data (approval_number, product_name, english_name, 
      product_name_two, formulation, specification, 
      production_unit, production_address, product_category, 
      approval_date, original_approval_number, drug_standard_code, 
      drug_standard_code_note, related_database_query
      )
    values (#{approvalNumber,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{productNameTwo,jdbcType=VARCHAR}, #{formulation,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, 
      #{productionUnit,jdbcType=VARCHAR}, #{productionAddress,jdbcType=VARCHAR}, #{productCategory,jdbcType=VARCHAR}, 
      #{approvalDate,jdbcType=VARCHAR}, #{originalApprovalNumber,jdbcType=VARCHAR}, #{drugStandardCode,jdbcType=VARCHAR}, 
      #{drugStandardCodeNote,jdbcType=VARCHAR}, #{relatedDatabaseQuery,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.drugDataEntity" >
    insert into drug_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="approvalNumber != null" >
        approval_number,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="productNameTwo != null" >
        product_name_two,
      </if>
      <if test="formulation != null" >
        formulation,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="productionUnit != null" >
        production_unit,
      </if>
      <if test="productionAddress != null" >
        production_address,
      </if>
      <if test="productCategory != null" >
        product_category,
      </if>
      <if test="approvalDate != null" >
        approval_date,
      </if>
      <if test="originalApprovalNumber != null" >
        original_approval_number,
      </if>
      <if test="drugStandardCode != null" >
        drug_standard_code,
      </if>
      <if test="drugStandardCodeNote != null" >
        drug_standard_code_note,
      </if>
      <if test="relatedDatabaseQuery != null" >
        related_database_query,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="approvalNumber != null" >
        #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="productNameTwo != null" >
        #{productNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="formulation != null" >
        #{formulation,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="productionUnit != null" >
        #{productionUnit,jdbcType=VARCHAR},
      </if>
      <if test="productionAddress != null" >
        #{productionAddress,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        #{productCategory,jdbcType=VARCHAR},
      </if>
      <if test="approvalDate != null" >
        #{approvalDate,jdbcType=VARCHAR},
      </if>
      <if test="originalApprovalNumber != null" >
        #{originalApprovalNumber,jdbcType=VARCHAR},
      </if>
      <if test="drugStandardCode != null" >
        #{drugStandardCode,jdbcType=VARCHAR},
      </if>
      <if test="drugStandardCodeNote != null" >
        #{drugStandardCodeNote,jdbcType=VARCHAR},
      </if>
      <if test="relatedDatabaseQuery != null" >
        #{relatedDatabaseQuery,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>