<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.dutyInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.dutyInfoEntity" >
    <id column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="duty_code" property="dutyCode" jdbcType="VARCHAR" />
    <result column="duty_name" property="dutyName" jdbcType="VARCHAR" />
    <result column="duty_type" property="dutyType" jdbcType="VARCHAR" />
    <result column="finance_type" property="financeType" jdbcType="VARCHAR" />
    <result column="clause_id" property="clauseId" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    duty_id, duty_code, duty_name, duty_type, finance_type, clause_id, created_by, created_time, 
    updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from duty_info
    where duty_id = #{dutyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from duty_info
    where duty_id = #{dutyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.dutyInfoEntity" >
    insert into duty_info (duty_id, duty_code, duty_name, 
      duty_type, finance_type, clause_id, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{dutyId,jdbcType=VARCHAR}, #{dutyCode,jdbcType=VARCHAR}, #{dutyName,jdbcType=VARCHAR}, 
      #{dutyType,jdbcType=VARCHAR}, #{financeType,jdbcType=VARCHAR}, #{clauseId,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.dutyInfoEntity" >
    insert into duty_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="dutyCode != null" >
        duty_code,
      </if>
      <if test="dutyName != null" >
        duty_name,
      </if>
      <if test="dutyType != null" >
        duty_type,
      </if>
      <if test="financeType != null" >
        finance_type,
      </if>
      <if test="clauseId != null" >
        clause_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="dutyCode != null" >
        #{dutyCode,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null" >
        #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="dutyType != null" >
        #{dutyType,jdbcType=VARCHAR},
      </if>
      <if test="financeType != null" >
        #{financeType,jdbcType=VARCHAR},
      </if>
      <if test="clauseId != null" >
        #{clauseId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.dutyInfoEntity" >
    update duty_info
    <set >
      <if test="dutyCode != null" >
        duty_code = #{dutyCode,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null" >
        duty_name = #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="dutyType != null" >
        duty_type = #{dutyType,jdbcType=VARCHAR},
      </if>
      <if test="financeType != null" >
        finance_type = #{financeType,jdbcType=VARCHAR},
      </if>
      <if test="clauseId != null" >
        clause_id = #{clauseId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where duty_id = #{dutyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.dutyInfoEntity" >
    update duty_info
    set duty_code = #{dutyCode,jdbcType=VARCHAR},
      duty_name = #{dutyName,jdbcType=VARCHAR},
      duty_type = #{dutyType,jdbcType=VARCHAR},
      finance_type = #{financeType,jdbcType=VARCHAR},
      clause_id = #{clauseId,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where duty_id = #{dutyId,jdbcType=VARCHAR}
  </update>
</mapper>