<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.GradeLevelMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.GradeLevel" >
    <id column="grade_level_id" property="gradeLevelId" jdbcType="VARCHAR" />
    <result column="grade_level_no" property="gradeLevelNo" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="grade_level_name" property="gradeLevelName" jdbcType="VARCHAR" />
    <result column="grade_level_type" property="gradeLevelType" jdbcType="VARCHAR" />
    <result column="grade_level_start_time" property="gradeLevelStartTime" jdbcType="TIMESTAMP" />
    <result column="grade_level_end_time" property="gradeLevelEndTime" jdbcType="TIMESTAMP" />
    <result column="grade_level_status" property="gradeLevelStatus" jdbcType="VARCHAR" />
    <result column="grade_level period" property="gradeLevelPeriod" jdbcType="VARCHAR" />
    <result column="gl_total_prem" property="glTotalPrem" jdbcType="VARCHAR" />
    <result column="gl_total_coverage" property="glTotalCoverage" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.junling.mis.model.primary.GradeLevel" extends="BaseResultMap" >
    <result column="grade_level_des" property="gradeLevelDes" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    grade_level_id, grade_level_no, organization_id, grade_level_name, grade_level_type, 
    grade_level_start_time, grade_level_end_time, grade_level_status, "grade_level period", 
    gl_total_prem, gl_total_coverage, created_by, created_time, updated_by, updated_time
  </sql>
  <sql id="Blob_Column_List" >
    grade_level_des
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from grade_level
    where grade_level_id = #{gradeLevelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from grade_level
    where grade_level_id = #{gradeLevelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.GradeLevel" >
    insert into grade_level (grade_level_id, grade_level_no, organization_id, 
      grade_level_name, grade_level_type, grade_level_start_time, 
      grade_level_end_time, grade_level_status, 
      "grade_level period", gl_total_prem, gl_total_coverage, 
      created_by, created_time, updated_by, 
      updated_time, grade_level_des)
    values (#{gradeLevelId,jdbcType=VARCHAR}, #{gradeLevelNo,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, 
      #{gradeLevelName,jdbcType=VARCHAR}, #{gradeLevelType,jdbcType=VARCHAR}, #{gradeLevelStartTime,jdbcType=TIMESTAMP}, 
      #{gradeLevelEndTime,jdbcType=TIMESTAMP}, #{gradeLevelStatus,jdbcType=VARCHAR}, 
      #{gradeLevelPeriod,jdbcType=VARCHAR}, #{glTotalPrem,jdbcType=VARCHAR}, #{glTotalCoverage,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{gradeLevelDes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.GradeLevel" >
    insert into grade_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gradeLevelId != null" >
        grade_level_id,
      </if>
      <if test="gradeLevelNo != null" >
        grade_level_no,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="gradeLevelName != null" >
        grade_level_name,
      </if>
      <if test="gradeLevelType != null" >
        grade_level_type,
      </if>
      <if test="gradeLevelStartTime != null" >
        grade_level_start_time,
      </if>
      <if test="gradeLevelEndTime != null" >
        grade_level_end_time,
      </if>
      <if test="gradeLevelStatus != null" >
        grade_level_status,
      </if>
      <if test="gradeLevelPeriod != null" >
        "grade_level period",
      </if>
      <if test="glTotalPrem != null" >
        gl_total_prem,
      </if>
      <if test="glTotalCoverage != null" >
        gl_total_coverage,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="gradeLevelDes != null" >
        grade_level_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gradeLevelId != null" >
        #{gradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelNo != null" >
        #{gradeLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelName != null" >
        #{gradeLevelName,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelType != null" >
        #{gradeLevelType,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelStartTime != null" >
        #{gradeLevelStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeLevelEndTime != null" >
        #{gradeLevelEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeLevelStatus != null" >
        #{gradeLevelStatus,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelPeriod != null" >
        #{gradeLevelPeriod,jdbcType=VARCHAR},
      </if>
      <if test="glTotalPrem != null" >
        #{glTotalPrem,jdbcType=VARCHAR},
      </if>
      <if test="glTotalCoverage != null" >
        #{glTotalCoverage,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeLevelDes != null" >
        #{gradeLevelDes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.GradeLevel" >
    update grade_level
    <set >
      <if test="gradeLevelNo != null" >
        grade_level_no = #{gradeLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelName != null" >
        grade_level_name = #{gradeLevelName,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelType != null" >
        grade_level_type = #{gradeLevelType,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelStartTime != null" >
        grade_level_start_time = #{gradeLevelStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeLevelEndTime != null" >
        grade_level_end_time = #{gradeLevelEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeLevelStatus != null" >
        grade_level_status = #{gradeLevelStatus,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelPeriod != null" >
        "grade_level period" = #{gradeLevelPeriod,jdbcType=VARCHAR},
      </if>
      <if test="glTotalPrem != null" >
        gl_total_prem = #{glTotalPrem,jdbcType=VARCHAR},
      </if>
      <if test="glTotalCoverage != null" >
        gl_total_coverage = #{glTotalCoverage,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeLevelDes != null" >
        grade_level_des = #{gradeLevelDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where grade_level_id = #{gradeLevelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.junling.mis.model.primary.GradeLevel" >
    update grade_level
    set grade_level_no = #{gradeLevelNo,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=VARCHAR},
      grade_level_name = #{gradeLevelName,jdbcType=VARCHAR},
      grade_level_type = #{gradeLevelType,jdbcType=VARCHAR},
      grade_level_start_time = #{gradeLevelStartTime,jdbcType=TIMESTAMP},
      grade_level_end_time = #{gradeLevelEndTime,jdbcType=TIMESTAMP},
      grade_level_status = #{gradeLevelStatus,jdbcType=VARCHAR},
      "grade_level period" = #{gradeLevelPeriod,jdbcType=VARCHAR},
      gl_total_prem = #{glTotalPrem,jdbcType=VARCHAR},
      gl_total_coverage = #{glTotalCoverage,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      grade_level_des = #{gradeLevelDes,jdbcType=LONGVARCHAR}
    where grade_level_id = #{gradeLevelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.GradeLevel" >
    update grade_level
    set grade_level_no = #{gradeLevelNo,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=VARCHAR},
      grade_level_name = #{gradeLevelName,jdbcType=VARCHAR},
      grade_level_type = #{gradeLevelType,jdbcType=VARCHAR},
      grade_level_start_time = #{gradeLevelStartTime,jdbcType=TIMESTAMP},
      grade_level_end_time = #{gradeLevelEndTime,jdbcType=TIMESTAMP},
      grade_level_status = #{gradeLevelStatus,jdbcType=VARCHAR},
      "grade_level period" = #{gradeLevelPeriod,jdbcType=VARCHAR},
      gl_total_prem = #{glTotalPrem,jdbcType=VARCHAR},
      gl_total_coverage = #{glTotalCoverage,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where grade_level_id = #{gradeLevelId,jdbcType=VARCHAR}
  </update>
</mapper>