<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.PglpsdClaimRateMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.PglpsdClaimRate" >
    <id column="pglpsd_claim_rate_id" property="pglpsdClaimRateId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_grade_level_no" property="policyGradeLevelNo" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="sub_duty_id" property="subDutyId" jdbcType="VARCHAR" />
    <result column="pglpsd_start_claim_amount" property="pglpsdStartClaimAmount" jdbcType="INTEGER" />
    <result column="pglpsd_next_claim_amount" property="pglpsdNextClaimAmount" jdbcType="INTEGER" />
    <result column="pglpsd_calim_rate" property="pglpsdCalimRate" jdbcType="INTEGER" />
    <result column="pglpsd_special_hos_rate" property="pglpsdSpecialHosRate" jdbcType="INTEGER" />
    <result column="pglpsd_medical_unused" property="pglpsdMedicalUnused" jdbcType="INTEGER" />
    <result column="pglpsd_ex_payment_rate" property="pglpsdExPaymentRate" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pglpsd_claim_rate_id, policy_no, policy_grade_level_no, product_id, duty_id, sub_duty_id, 
    pglpsd_start_claim_amount, pglpsd_next_claim_amount, pglpsd_calim_rate, pglpsd_special_hos_rate, 
    pglpsd_medical_unused, pglpsd_ex_payment_rate, created_by, created_time, updated_by, 
    updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pglpsd_claim_rate
    where pglpsd_claim_rate_id = #{pglpsdClaimRateId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pglpsd_claim_rate
    where pglpsd_claim_rate_id = #{pglpsdClaimRateId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.PglpsdClaimRate" >
    insert into pglpsd_claim_rate (pglpsd_claim_rate_id, policy_no, policy_grade_level_no, 
      product_id, duty_id, sub_duty_id, 
      pglpsd_start_claim_amount, pglpsd_next_claim_amount, 
      pglpsd_calim_rate, pglpsd_special_hos_rate, 
      pglpsd_medical_unused, pglpsd_ex_payment_rate, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{pglpsdClaimRateId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{policyGradeLevelNo,jdbcType=INTEGER}, 
      #{productId,jdbcType=VARCHAR}, #{dutyId,jdbcType=VARCHAR}, #{subDutyId,jdbcType=VARCHAR}, 
      #{pglpsdStartClaimAmount,jdbcType=INTEGER}, #{pglpsdNextClaimAmount,jdbcType=INTEGER}, 
      #{pglpsdCalimRate,jdbcType=INTEGER}, #{pglpsdSpecialHosRate,jdbcType=INTEGER}, 
      #{pglpsdMedicalUnused,jdbcType=INTEGER}, #{pglpsdExPaymentRate,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.PglpsdClaimRate" >
    insert into pglpsd_claim_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pglpsdClaimRateId != null" >
        pglpsd_claim_rate_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="subDutyId != null" >
        sub_duty_id,
      </if>
      <if test="pglpsdStartClaimAmount != null" >
        pglpsd_start_claim_amount,
      </if>
      <if test="pglpsdNextClaimAmount != null" >
        pglpsd_next_claim_amount,
      </if>
      <if test="pglpsdCalimRate != null" >
        pglpsd_calim_rate,
      </if>
      <if test="pglpsdSpecialHosRate != null" >
        pglpsd_special_hos_rate,
      </if>
      <if test="pglpsdMedicalUnused != null" >
        pglpsd_medical_unused,
      </if>
      <if test="pglpsdExPaymentRate != null" >
        pglpsd_ex_payment_rate,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pglpsdClaimRateId != null" >
        #{pglpsdClaimRateId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        #{policyGradeLevelNo,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="pglpsdStartClaimAmount != null" >
        #{pglpsdStartClaimAmount,jdbcType=INTEGER},
      </if>
      <if test="pglpsdNextClaimAmount != null" >
        #{pglpsdNextClaimAmount,jdbcType=INTEGER},
      </if>
      <if test="pglpsdCalimRate != null" >
        #{pglpsdCalimRate,jdbcType=INTEGER},
      </if>
      <if test="pglpsdSpecialHosRate != null" >
        #{pglpsdSpecialHosRate,jdbcType=INTEGER},
      </if>
      <if test="pglpsdMedicalUnused != null" >
        #{pglpsdMedicalUnused,jdbcType=INTEGER},
      </if>
      <if test="pglpsdExPaymentRate != null" >
        #{pglpsdExPaymentRate,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.PglpsdClaimRate" >
    update pglpsd_claim_rate
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no = #{policyGradeLevelNo,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="pglpsdStartClaimAmount != null" >
        pglpsd_start_claim_amount = #{pglpsdStartClaimAmount,jdbcType=INTEGER},
      </if>
      <if test="pglpsdNextClaimAmount != null" >
        pglpsd_next_claim_amount = #{pglpsdNextClaimAmount,jdbcType=INTEGER},
      </if>
      <if test="pglpsdCalimRate != null" >
        pglpsd_calim_rate = #{pglpsdCalimRate,jdbcType=INTEGER},
      </if>
      <if test="pglpsdSpecialHosRate != null" >
        pglpsd_special_hos_rate = #{pglpsdSpecialHosRate,jdbcType=INTEGER},
      </if>
      <if test="pglpsdMedicalUnused != null" >
        pglpsd_medical_unused = #{pglpsdMedicalUnused,jdbcType=INTEGER},
      </if>
      <if test="pglpsdExPaymentRate != null" >
        pglpsd_ex_payment_rate = #{pglpsdExPaymentRate,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pglpsd_claim_rate_id = #{pglpsdClaimRateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.PglpsdClaimRate" >
    update pglpsd_claim_rate
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_grade_level_no = #{policyGradeLevelNo,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=VARCHAR},
      duty_id = #{dutyId,jdbcType=VARCHAR},
      sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      pglpsd_start_claim_amount = #{pglpsdStartClaimAmount,jdbcType=INTEGER},
      pglpsd_next_claim_amount = #{pglpsdNextClaimAmount,jdbcType=INTEGER},
      pglpsd_calim_rate = #{pglpsdCalimRate,jdbcType=INTEGER},
      pglpsd_special_hos_rate = #{pglpsdSpecialHosRate,jdbcType=INTEGER},
      pglpsd_medical_unused = #{pglpsdMedicalUnused,jdbcType=INTEGER},
      pglpsd_ex_payment_rate = #{pglpsdExPaymentRate,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where pglpsd_claim_rate_id = #{pglpsdClaimRateId,jdbcType=VARCHAR}
  </update>
</mapper>