<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.pglProductSubDutyEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.pglProductSubDutyEntity" >
    <id column="pgl_product_sub_duty_id" property="pglProductSubDutyId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_grade_level_no" property="policyGradeLevelNo" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="sub_duty_id" property="subDutyId" jdbcType="VARCHAR" />
    <result column="pglp_sub_duty_prem" property="pglpSubDutyPrem" jdbcType="DECIMAL" />
    <result column="pglp_sub_duty_covrage" property="pglpSubDutyCovrage" jdbcType="DECIMAL" />
    <result column="subsidy_amount" property="subsidyAmount" jdbcType="DECIMAL" />
    <result column="deductible_days" property="deductibleDays" jdbcType="DECIMAL" />
    <result column="pglpsd_waiting_period" property="pglpsdWaitingPeriod" jdbcType="DECIMAL" />
    <result column="pglpsd_deductibles" property="pglpsdDeductibles" jdbcType="DECIMAL" />
    <result column="pglpsd_times_deductibles" property="pglpsdTimesDeductibles" jdbcType="DECIMAL" />
    <result column="pglpsd_lifelong_deductibles" property="pglpsdLifelongDeductibles" jdbcType="DECIMAL" />
    <result column="pglpsd_times_type" property="pglpsdTimesType" jdbcType="VARCHAR" />
    <result column="pglpsd_times" property="pglpsdTimes" jdbcType="DECIMAL" />
    <result column="pglpsd_times_day" property="pglpsdTimesDay" jdbcType="DECIMAL" />
    <result column="pglpsd_total_days" property="pglpsdTotalDays" jdbcType="DECIMAL" />
    <result column="pglpsd_times_amonut" property="pglpsdTimesAmonut" jdbcType="DECIMAL" />
    <result column="pglpsd_special_contract" property="pglpsdSpecialContract" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pgl_product_sub_duty_id, policy_no, policy_grade_level_no, product_id, duty_id, sub_duty_id, 
    pglp_sub_duty_prem, pglp_sub_duty_covrage, subsidy_amount, deductible_days, pglpsd_waiting_period, 
    pglpsd_deductibles, pglpsd_times_deductibles, pglpsd_lifelong_deductibles, pglpsd_times_type, 
    pglpsd_times, pglpsd_times_day, pglpsd_total_days, pglpsd_times_amonut, pglpsd_special_contract, 
    created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pgl_product_sub_duty
    where pgl_product_sub_duty_id = #{pglProductSubDutyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pgl_product_sub_duty
    where pgl_product_sub_duty_id = #{pglProductSubDutyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.pglProductSubDutyEntity" >
    insert into pgl_product_sub_duty (pgl_product_sub_duty_id, policy_no, policy_grade_level_no, 
      product_id, duty_id, sub_duty_id, 
      pglp_sub_duty_prem, pglp_sub_duty_covrage, subsidy_amount, 
      deductible_days, pglpsd_waiting_period, pglpsd_deductibles, 
      pglpsd_times_deductibles, pglpsd_lifelong_deductibles, 
      pglpsd_times_type, pglpsd_times, pglpsd_times_day, 
      pglpsd_total_days, pglpsd_times_amonut, pglpsd_special_contract, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{pglProductSubDutyId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{policyGradeLevelNo,jdbcType=DECIMAL}, 
      #{productId,jdbcType=VARCHAR}, #{dutyId,jdbcType=VARCHAR}, #{subDutyId,jdbcType=VARCHAR}, 
      #{pglpSubDutyPrem,jdbcType=DECIMAL}, #{pglpSubDutyCovrage,jdbcType=DECIMAL}, #{subsidyAmount,jdbcType=DECIMAL}, 
      #{deductibleDays,jdbcType=DECIMAL}, #{pglpsdWaitingPeriod,jdbcType=DECIMAL}, #{pglpsdDeductibles,jdbcType=DECIMAL}, 
      #{pglpsdTimesDeductibles,jdbcType=DECIMAL}, #{pglpsdLifelongDeductibles,jdbcType=DECIMAL}, 
      #{pglpsdTimesType,jdbcType=VARCHAR}, #{pglpsdTimes,jdbcType=DECIMAL}, #{pglpsdTimesDay,jdbcType=DECIMAL}, 
      #{pglpsdTotalDays,jdbcType=DECIMAL}, #{pglpsdTimesAmonut,jdbcType=DECIMAL}, #{pglpsdSpecialContract,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.pglProductSubDutyEntity" >
    insert into pgl_product_sub_duty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pglProductSubDutyId != null" >
        pgl_product_sub_duty_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="subDutyId != null" >
        sub_duty_id,
      </if>
      <if test="pglpSubDutyPrem != null" >
        pglp_sub_duty_prem,
      </if>
      <if test="pglpSubDutyCovrage != null" >
        pglp_sub_duty_covrage,
      </if>
      <if test="subsidyAmount != null" >
        subsidy_amount,
      </if>
      <if test="deductibleDays != null" >
        deductible_days,
      </if>
      <if test="pglpsdWaitingPeriod != null" >
        pglpsd_waiting_period,
      </if>
      <if test="pglpsdDeductibles != null" >
        pglpsd_deductibles,
      </if>
      <if test="pglpsdTimesDeductibles != null" >
        pglpsd_times_deductibles,
      </if>
      <if test="pglpsdLifelongDeductibles != null" >
        pglpsd_lifelong_deductibles,
      </if>
      <if test="pglpsdTimesType != null" >
        pglpsd_times_type,
      </if>
      <if test="pglpsdTimes != null" >
        pglpsd_times,
      </if>
      <if test="pglpsdTimesDay != null" >
        pglpsd_times_day,
      </if>
      <if test="pglpsdTotalDays != null" >
        pglpsd_total_days,
      </if>
      <if test="pglpsdTimesAmonut != null" >
        pglpsd_times_amonut,
      </if>
      <if test="pglpsdSpecialContract != null" >
        pglpsd_special_contract,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pglProductSubDutyId != null" >
        #{pglProductSubDutyId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        #{policyGradeLevelNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="pglpSubDutyPrem != null" >
        #{pglpSubDutyPrem,jdbcType=DECIMAL},
      </if>
      <if test="pglpSubDutyCovrage != null" >
        #{pglpSubDutyCovrage,jdbcType=DECIMAL},
      </if>
      <if test="subsidyAmount != null" >
        #{subsidyAmount,jdbcType=DECIMAL},
      </if>
      <if test="deductibleDays != null" >
        #{deductibleDays,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdWaitingPeriod != null" >
        #{pglpsdWaitingPeriod,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdDeductibles != null" >
        #{pglpsdDeductibles,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesDeductibles != null" >
        #{pglpsdTimesDeductibles,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdLifelongDeductibles != null" >
        #{pglpsdLifelongDeductibles,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesType != null" >
        #{pglpsdTimesType,jdbcType=VARCHAR},
      </if>
      <if test="pglpsdTimes != null" >
        #{pglpsdTimes,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesDay != null" >
        #{pglpsdTimesDay,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTotalDays != null" >
        #{pglpsdTotalDays,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesAmonut != null" >
        #{pglpsdTimesAmonut,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdSpecialContract != null" >
        #{pglpsdSpecialContract,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.pglProductSubDutyEntity" >
    update pgl_product_sub_duty
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no = #{policyGradeLevelNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="pglpSubDutyPrem != null" >
        pglp_sub_duty_prem = #{pglpSubDutyPrem,jdbcType=DECIMAL},
      </if>
      <if test="pglpSubDutyCovrage != null" >
        pglp_sub_duty_covrage = #{pglpSubDutyCovrage,jdbcType=DECIMAL},
      </if>
      <if test="subsidyAmount != null" >
        subsidy_amount = #{subsidyAmount,jdbcType=DECIMAL},
      </if>
      <if test="deductibleDays != null" >
        deductible_days = #{deductibleDays,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdWaitingPeriod != null" >
        pglpsd_waiting_period = #{pglpsdWaitingPeriod,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdDeductibles != null" >
        pglpsd_deductibles = #{pglpsdDeductibles,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesDeductibles != null" >
        pglpsd_times_deductibles = #{pglpsdTimesDeductibles,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdLifelongDeductibles != null" >
        pglpsd_lifelong_deductibles = #{pglpsdLifelongDeductibles,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesType != null" >
        pglpsd_times_type = #{pglpsdTimesType,jdbcType=VARCHAR},
      </if>
      <if test="pglpsdTimes != null" >
        pglpsd_times = #{pglpsdTimes,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesDay != null" >
        pglpsd_times_day = #{pglpsdTimesDay,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTotalDays != null" >
        pglpsd_total_days = #{pglpsdTotalDays,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdTimesAmonut != null" >
        pglpsd_times_amonut = #{pglpsdTimesAmonut,jdbcType=DECIMAL},
      </if>
      <if test="pglpsdSpecialContract != null" >
        pglpsd_special_contract = #{pglpsdSpecialContract,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pgl_product_sub_duty_id = #{pglProductSubDutyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.pglProductSubDutyEntity" >
    update pgl_product_sub_duty
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_grade_level_no = #{policyGradeLevelNo,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=VARCHAR},
      duty_id = #{dutyId,jdbcType=VARCHAR},
      sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      pglp_sub_duty_prem = #{pglpSubDutyPrem,jdbcType=DECIMAL},
      pglp_sub_duty_covrage = #{pglpSubDutyCovrage,jdbcType=DECIMAL},
      subsidy_amount = #{subsidyAmount,jdbcType=DECIMAL},
      deductible_days = #{deductibleDays,jdbcType=DECIMAL},
      pglpsd_waiting_period = #{pglpsdWaitingPeriod,jdbcType=DECIMAL},
      pglpsd_deductibles = #{pglpsdDeductibles,jdbcType=DECIMAL},
      pglpsd_times_deductibles = #{pglpsdTimesDeductibles,jdbcType=DECIMAL},
      pglpsd_lifelong_deductibles = #{pglpsdLifelongDeductibles,jdbcType=DECIMAL},
      pglpsd_times_type = #{pglpsdTimesType,jdbcType=VARCHAR},
      pglpsd_times = #{pglpsdTimes,jdbcType=DECIMAL},
      pglpsd_times_day = #{pglpsdTimesDay,jdbcType=DECIMAL},
      pglpsd_total_days = #{pglpsdTotalDays,jdbcType=DECIMAL},
      pglpsd_times_amonut = #{pglpsdTimesAmonut,jdbcType=DECIMAL},
      pglpsd_special_contract = #{pglpsdSpecialContract,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where pgl_product_sub_duty_id = #{pglProductSubDutyId,jdbcType=VARCHAR}
  </update>
</mapper>