<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.policyBeneficiaryMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.policyBeneficiary" >
    <id column="policy_beneficiary_id" property="policyBeneficiaryId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_reinsurance_no" property="policyReinsuranceNo" jdbcType="VARCHAR" />
    <result column="br_no" property="brNo" jdbcType="INTEGER" />
    <result column="insure_id" property="insureId" jdbcType="VARCHAR" />
    <result column="grade_level_id" property="gradeLevelId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="policy_beneficiary_type" property="policyBeneficiaryType" jdbcType="VARCHAR" />
    <result column="policy_beneficiary_order" property="policyBeneficiaryOrder" jdbcType="VARCHAR" />
    <result column="policy_beneficiary_rate" property="policyBeneficiaryRate" jdbcType="INTEGER" />
    <result column="insure_relation" property="insureRelation" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_beneficiary_id, policy_no, policy_reinsurance_no, br_no, insure_id, grade_level_id, 
    product_id, duty_id, policy_beneficiary_type, policy_beneficiary_order, policy_beneficiary_rate, 
    insure_relation, customer_id, created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from policy_beneficiary
    where policy_beneficiary_id = #{policyBeneficiaryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_beneficiary
    where policy_beneficiary_id = #{policyBeneficiaryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.policyBeneficiary" >
    insert into policy_beneficiary (policy_beneficiary_id, policy_no, policy_reinsurance_no, 
      br_no, insure_id, grade_level_id, 
      product_id, duty_id, policy_beneficiary_type, 
      policy_beneficiary_order, policy_beneficiary_rate, 
      insure_relation, customer_id, created_by, 
      created_time, updated_by, updated_time
      )
    values (#{policyBeneficiaryId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{policyReinsuranceNo,jdbcType=VARCHAR}, 
      #{brNo,jdbcType=INTEGER}, #{insureId,jdbcType=VARCHAR}, #{gradeLevelId,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{dutyId,jdbcType=VARCHAR}, #{policyBeneficiaryType,jdbcType=VARCHAR}, 
      #{policyBeneficiaryOrder,jdbcType=VARCHAR}, #{policyBeneficiaryRate,jdbcType=INTEGER}, 
      #{insureRelation,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.policyBeneficiary" >
    insert into policy_beneficiary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyBeneficiaryId != null" >
        policy_beneficiary_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no,
      </if>
      <if test="brNo != null" >
        br_no,
      </if>
      <if test="insureId != null" >
        insure_id,
      </if>
      <if test="gradeLevelId != null" >
        grade_level_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="policyBeneficiaryType != null" >
        policy_beneficiary_type,
      </if>
      <if test="policyBeneficiaryOrder != null" >
        policy_beneficiary_order,
      </if>
      <if test="policyBeneficiaryRate != null" >
        policy_beneficiary_rate,
      </if>
      <if test="insureRelation != null" >
        insure_relation,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyBeneficiaryId != null" >
        #{policyBeneficiaryId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        #{brNo,jdbcType=INTEGER},
      </if>
      <if test="insureId != null" >
        #{insureId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelId != null" >
        #{gradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="policyBeneficiaryType != null" >
        #{policyBeneficiaryType,jdbcType=VARCHAR},
      </if>
      <if test="policyBeneficiaryOrder != null" >
        #{policyBeneficiaryOrder,jdbcType=VARCHAR},
      </if>
      <if test="policyBeneficiaryRate != null" >
        #{policyBeneficiaryRate,jdbcType=INTEGER},
      </if>
      <if test="insureRelation != null" >
        #{insureRelation,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.policyBeneficiary" >
    update policy_beneficiary
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        br_no = #{brNo,jdbcType=INTEGER},
      </if>
      <if test="insureId != null" >
        insure_id = #{insureId,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevelId != null" >
        grade_level_id = #{gradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="policyBeneficiaryType != null" >
        policy_beneficiary_type = #{policyBeneficiaryType,jdbcType=VARCHAR},
      </if>
      <if test="policyBeneficiaryOrder != null" >
        policy_beneficiary_order = #{policyBeneficiaryOrder,jdbcType=VARCHAR},
      </if>
      <if test="policyBeneficiaryRate != null" >
        policy_beneficiary_rate = #{policyBeneficiaryRate,jdbcType=INTEGER},
      </if>
      <if test="insureRelation != null" >
        insure_relation = #{insureRelation,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where policy_beneficiary_id = #{policyBeneficiaryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.policyBeneficiary" >
    update policy_beneficiary
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      br_no = #{brNo,jdbcType=INTEGER},
      insure_id = #{insureId,jdbcType=VARCHAR},
      grade_level_id = #{gradeLevelId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      duty_id = #{dutyId,jdbcType=VARCHAR},
      policy_beneficiary_type = #{policyBeneficiaryType,jdbcType=VARCHAR},
      policy_beneficiary_order = #{policyBeneficiaryOrder,jdbcType=VARCHAR},
      policy_beneficiary_rate = #{policyBeneficiaryRate,jdbcType=INTEGER},
      insure_relation = #{insureRelation,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_beneficiary_id = #{policyBeneficiaryId,jdbcType=VARCHAR}
  </update>
</mapper>