<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.policyShareCoverageEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.policyShareCoverageEntity" >
    <id column="policy_share_coverage_id" property="policyShareCoverageId" jdbcType="VARCHAR" />
    <id column="policy_share_coverage_no" property="policyShareCoverageNo" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_grade_level_no" property="policyGradeLevelNo" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="sub_duty_id" property="subDutyId" jdbcType="VARCHAR" />
    <result column="share_coverage" property="shareCoverage" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_share_coverage_id, policy_share_coverage_no, policy_no, policy_grade_level_no, 
    product_id, duty_id, sub_duty_id, share_coverage, created_by, created_time, updated_by, 
    updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.junling.mis.model.primary.policyShareCoverageEntityKey" >
    select 
    <include refid="Base_Column_List" />
    from policy_share_coverage
    where policy_share_coverage_id = #{policyShareCoverageId,jdbcType=VARCHAR}
      and policy_share_coverage_no = #{policyShareCoverageNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.junling.mis.model.primary.policyShareCoverageEntityKey" >
    delete from policy_share_coverage
    where policy_share_coverage_id = #{policyShareCoverageId,jdbcType=VARCHAR}
      and policy_share_coverage_no = #{policyShareCoverageNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.policyShareCoverageEntity" >
    insert into policy_share_coverage (policy_share_coverage_id, policy_share_coverage_no, 
      policy_no, policy_grade_level_no, product_id, 
      duty_id, sub_duty_id, share_coverage, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{policyShareCoverageId,jdbcType=VARCHAR}, #{policyShareCoverageNo,jdbcType=VARCHAR}, 
      #{policyNo,jdbcType=VARCHAR}, #{policyGradeLevelNo,jdbcType=DECIMAL}, #{productId,jdbcType=VARCHAR}, 
      #{dutyId,jdbcType=VARCHAR}, #{subDutyId,jdbcType=VARCHAR}, #{shareCoverage,jdbcType=DECIMAL}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.policyShareCoverageEntity" >
    insert into policy_share_coverage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyShareCoverageId != null" >
        policy_share_coverage_id,
      </if>
      <if test="policyShareCoverageNo != null" >
        policy_share_coverage_no,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="subDutyId != null" >
        sub_duty_id,
      </if>
      <if test="shareCoverage != null" >
        share_coverage,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyShareCoverageId != null" >
        #{policyShareCoverageId,jdbcType=VARCHAR},
      </if>
      <if test="policyShareCoverageNo != null" >
        #{policyShareCoverageNo,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        #{policyGradeLevelNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="shareCoverage != null" >
        #{shareCoverage,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.policyShareCoverageEntity" >
    update policy_share_coverage
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no = #{policyGradeLevelNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="subDutyId != null" >
        sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      </if>
      <if test="shareCoverage != null" >
        share_coverage = #{shareCoverage,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where policy_share_coverage_id = #{policyShareCoverageId,jdbcType=VARCHAR}
      and policy_share_coverage_no = #{policyShareCoverageNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.policyShareCoverageEntity" >
    update policy_share_coverage
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_grade_level_no = #{policyGradeLevelNo,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=VARCHAR},
      duty_id = #{dutyId,jdbcType=VARCHAR},
      sub_duty_id = #{subDutyId,jdbcType=VARCHAR},
      share_coverage = #{shareCoverage,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_share_coverage_id = #{policyShareCoverageId,jdbcType=VARCHAR}
      and policy_share_coverage_no = #{policyShareCoverageNo,jdbcType=VARCHAR}
  </update>
</mapper>