<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.policyPublicCoverageEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.policyPublicCoverageEntity" >
    <id column="policy_public_coverage_id" property="policyPublicCoverageId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="public_coverage" property="publicCoverage" jdbcType="DECIMAL" />
    <result column="public_coverage_left" property="publicCoverageLeft" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_public_coverage_id, policy_no, public_coverage, public_coverage_left, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from policy_public_coverage
    where policy_public_coverage_id = #{policyPublicCoverageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_public_coverage
    where policy_public_coverage_id = #{policyPublicCoverageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.policyPublicCoverageEntity" >
    insert into policy_public_coverage (policy_public_coverage_id, policy_no, 
      public_coverage, public_coverage_left, created_by, 
      created_time, updated_by, updated_time
      )
    values (#{policyPublicCoverageId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, 
      #{publicCoverage,jdbcType=DECIMAL}, #{publicCoverageLeft,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.policyPublicCoverageEntity" >
    insert into policy_public_coverage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyPublicCoverageId != null" >
        policy_public_coverage_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="publicCoverage != null" >
        public_coverage,
      </if>
      <if test="publicCoverageLeft != null" >
        public_coverage_left,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyPublicCoverageId != null" >
        #{policyPublicCoverageId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="publicCoverage != null" >
        #{publicCoverage,jdbcType=DECIMAL},
      </if>
      <if test="publicCoverageLeft != null" >
        #{publicCoverageLeft,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.policyPublicCoverageEntity" >
    update policy_public_coverage
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="publicCoverage != null" >
        public_coverage = #{publicCoverage,jdbcType=DECIMAL},
      </if>
      <if test="publicCoverageLeft != null" >
        public_coverage_left = #{publicCoverageLeft,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where policy_public_coverage_id = #{policyPublicCoverageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.policyPublicCoverageEntity" >
    update policy_public_coverage
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      public_coverage = #{publicCoverage,jdbcType=DECIMAL},
      public_coverage_left = #{publicCoverageLeft,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_public_coverage_id = #{policyPublicCoverageId,jdbcType=VARCHAR}
  </update>
</mapper>