<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.PolicyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.PolicyInfo" >
    <id column="policy_info_id" property="policyInfoId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="underwriting_time" property="underwritingTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="accept_insurance_time" property="acceptInsuranceTime" jdbcType="TIMESTAMP" />
    <result column="effect_time" property="effectTime" jdbcType="TIMESTAMP" />
    <result column="maturity_time" property="maturityTime" jdbcType="TIMESTAMP" />
    <result column="policy_status" property="policyStatus" jdbcType="VARCHAR" />
    <result column="policy_holder" property="policyHolder" jdbcType="VARCHAR" />
    <result column="policy_type" property="policyType" jdbcType="VARCHAR" />
    <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="contact_phone_no" property="contactPhoneNo" jdbcType="VARCHAR" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="total_prem" property="totalPrem" jdbcType="INTEGER" />
    <result column="total_insured_count" property="totalInsuredCount" jdbcType="INTEGER" />
    <result column="effect_insured_count" property="effectInsuredCount" jdbcType="INTEGER" />
    <result column="policy_organization" property="policyOrganization" jdbcType="VARCHAR" />
    <result column="is_renew" property="isRenew" jdbcType="VARCHAR" />
    <result column="renew_policy_no" property="renewPolicyNo" jdbcType="VARCHAR" />
    <result column="policy_pay_type" property="policyPayType" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.junling.mis.model.primary.PolicyInfo" extends="BaseResultMap" >
    <result column="policy_special_contract" property="policySpecialContract" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_info_id, policy_no, product_id, underwriting_time, pay_time, accept_insurance_time, 
    effect_time, maturity_time, policy_status, policy_holder, policy_type, contact_person, 
    contact_address, contact_phone_no, contact_email, total_prem, total_insured_count, 
    effect_insured_count, policy_organization, is_renew, renew_policy_no, policy_pay_type, 
    created_by, created_time, updated_by, updated_time
  </sql>
  <sql id="Blob_Column_List" >
    policy_special_contract
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from policy_info
    where policy_info_id = #{policyInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_info
    where policy_info_id = #{policyInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.PolicyInfo" >
    insert into policy_info (policy_info_id, policy_no, product_id, 
      underwriting_time, pay_time, accept_insurance_time, 
      effect_time, maturity_time, policy_status, 
      policy_holder, policy_type, contact_person, 
      contact_address, contact_phone_no, contact_email, 
      total_prem, total_insured_count, effect_insured_count, 
      policy_organization, is_renew, renew_policy_no, 
      policy_pay_type, created_by, created_time, 
      updated_by, updated_time, policy_special_contract
      )
    values (#{policyInfoId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{underwritingTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{acceptInsuranceTime,jdbcType=TIMESTAMP}, 
      #{effectTime,jdbcType=TIMESTAMP}, #{maturityTime,jdbcType=TIMESTAMP}, #{policyStatus,jdbcType=VARCHAR}, 
      #{policyHolder,jdbcType=VARCHAR}, #{policyType,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, 
      #{contactAddress,jdbcType=VARCHAR}, #{contactPhoneNo,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, 
      #{totalPrem,jdbcType=INTEGER}, #{totalInsuredCount,jdbcType=INTEGER}, #{effectInsuredCount,jdbcType=INTEGER}, 
      #{policyOrganization,jdbcType=VARCHAR}, #{isRenew,jdbcType=VARCHAR}, #{renewPolicyNo,jdbcType=VARCHAR}, 
      #{policyPayType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{policySpecialContract,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.PolicyInfo" >
    insert into policy_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyInfoId != null" >
        policy_info_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="underwritingTime != null" >
        underwriting_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="acceptInsuranceTime != null" >
        accept_insurance_time,
      </if>
      <if test="effectTime != null" >
        effect_time,
      </if>
      <if test="maturityTime != null" >
        maturity_time,
      </if>
      <if test="policyStatus != null" >
        policy_status,
      </if>
      <if test="policyHolder != null" >
        policy_holder,
      </if>
      <if test="policyType != null" >
        policy_type,
      </if>
      <if test="contactPerson != null" >
        contact_person,
      </if>
      <if test="contactAddress != null" >
        contact_address,
      </if>
      <if test="contactPhoneNo != null" >
        contact_phone_no,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="totalPrem != null" >
        total_prem,
      </if>
      <if test="totalInsuredCount != null" >
        total_insured_count,
      </if>
      <if test="effectInsuredCount != null" >
        effect_insured_count,
      </if>
      <if test="policyOrganization != null" >
        policy_organization,
      </if>
      <if test="isRenew != null" >
        is_renew,
      </if>
      <if test="renewPolicyNo != null" >
        renew_policy_no,
      </if>
      <if test="policyPayType != null" >
        policy_pay_type,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="policySpecialContract != null" >
        policy_special_contract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyInfoId != null" >
        #{policyInfoId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="underwritingTime != null" >
        #{underwritingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptInsuranceTime != null" >
        #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectTime != null" >
        #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maturityTime != null" >
        #{maturityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policyStatus != null" >
        #{policyStatus,jdbcType=VARCHAR},
      </if>
      <if test="policyHolder != null" >
        #{policyHolder,jdbcType=VARCHAR},
      </if>
      <if test="policyType != null" >
        #{policyType,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneNo != null" >
        #{contactPhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="totalPrem != null" >
        #{totalPrem,jdbcType=INTEGER},
      </if>
      <if test="totalInsuredCount != null" >
        #{totalInsuredCount,jdbcType=INTEGER},
      </if>
      <if test="effectInsuredCount != null" >
        #{effectInsuredCount,jdbcType=INTEGER},
      </if>
      <if test="policyOrganization != null" >
        #{policyOrganization,jdbcType=VARCHAR},
      </if>
      <if test="isRenew != null" >
        #{isRenew,jdbcType=VARCHAR},
      </if>
      <if test="renewPolicyNo != null" >
        #{renewPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyPayType != null" >
        #{policyPayType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policySpecialContract != null" >
        #{policySpecialContract,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.PolicyInfo" >
    update policy_info
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="underwritingTime != null" >
        underwriting_time = #{underwritingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptInsuranceTime != null" >
        accept_insurance_time = #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectTime != null" >
        effect_time = #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maturityTime != null" >
        maturity_time = #{maturityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policyStatus != null" >
        policy_status = #{policyStatus,jdbcType=VARCHAR},
      </if>
      <if test="policyHolder != null" >
        policy_holder = #{policyHolder,jdbcType=VARCHAR},
      </if>
      <if test="policyType != null" >
        policy_type = #{policyType,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneNo != null" >
        contact_phone_no = #{contactPhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="totalPrem != null" >
        total_prem = #{totalPrem,jdbcType=INTEGER},
      </if>
      <if test="totalInsuredCount != null" >
        total_insured_count = #{totalInsuredCount,jdbcType=INTEGER},
      </if>
      <if test="effectInsuredCount != null" >
        effect_insured_count = #{effectInsuredCount,jdbcType=INTEGER},
      </if>
      <if test="policyOrganization != null" >
        policy_organization = #{policyOrganization,jdbcType=VARCHAR},
      </if>
      <if test="isRenew != null" >
        is_renew = #{isRenew,jdbcType=VARCHAR},
      </if>
      <if test="renewPolicyNo != null" >
        renew_policy_no = #{renewPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyPayType != null" >
        policy_pay_type = #{policyPayType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policySpecialContract != null" >
        policy_special_contract = #{policySpecialContract,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where policy_info_id = #{policyInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.junling.mis.model.primary.PolicyInfo" >
    update policy_info
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      underwriting_time = #{underwritingTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      accept_insurance_time = #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      effect_time = #{effectTime,jdbcType=TIMESTAMP},
      maturity_time = #{maturityTime,jdbcType=TIMESTAMP},
      policy_status = #{policyStatus,jdbcType=VARCHAR},
      policy_holder = #{policyHolder,jdbcType=VARCHAR},
      policy_type = #{policyType,jdbcType=VARCHAR},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      contact_phone_no = #{contactPhoneNo,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      total_prem = #{totalPrem,jdbcType=INTEGER},
      total_insured_count = #{totalInsuredCount,jdbcType=INTEGER},
      effect_insured_count = #{effectInsuredCount,jdbcType=INTEGER},
      policy_organization = #{policyOrganization,jdbcType=VARCHAR},
      is_renew = #{isRenew,jdbcType=VARCHAR},
      renew_policy_no = #{renewPolicyNo,jdbcType=VARCHAR},
      policy_pay_type = #{policyPayType,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      policy_special_contract = #{policySpecialContract,jdbcType=LONGVARCHAR}
    where policy_info_id = #{policyInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.PolicyInfo" >
    update policy_info
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      underwriting_time = #{underwritingTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      accept_insurance_time = #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      effect_time = #{effectTime,jdbcType=TIMESTAMP},
      maturity_time = #{maturityTime,jdbcType=TIMESTAMP},
      policy_status = #{policyStatus,jdbcType=VARCHAR},
      policy_holder = #{policyHolder,jdbcType=VARCHAR},
      policy_type = #{policyType,jdbcType=VARCHAR},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      contact_phone_no = #{contactPhoneNo,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      total_prem = #{totalPrem,jdbcType=INTEGER},
      total_insured_count = #{totalInsuredCount,jdbcType=INTEGER},
      effect_insured_count = #{effectInsuredCount,jdbcType=INTEGER},
      policy_organization = #{policyOrganization,jdbcType=VARCHAR},
      is_renew = #{isRenew,jdbcType=VARCHAR},
      renew_policy_no = #{renewPolicyNo,jdbcType=VARCHAR},
      policy_pay_type = #{policyPayType,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_info_id = #{policyInfoId,jdbcType=VARCHAR}
  </update>
</mapper>