<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.primary.syncLogEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.primary.syncLogEntity" >
    <id column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_id" property="lastId" jdbcType="VARCHAR" />
    <result column="underway" property="underway" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    table_name, last_update_time, last_id, underway
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sync_log
    where table_name = #{tableName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sync_log
    where table_name = #{tableName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.primary.syncLogEntity" >
    insert into sync_log (table_name, last_update_time, last_id, 
      underway)
    values (#{tableName,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastId,jdbcType=VARCHAR}, 
      #{underway,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.primary.syncLogEntity" >
    insert into sync_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="lastId != null" >
        last_id,
      </if>
      <if test="underway != null" >
        underway,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastId != null" >
        #{lastId,jdbcType=VARCHAR},
      </if>
      <if test="underway != null" >
        #{underway,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.primary.syncLogEntity" >
    update sync_log
    <set >
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastId != null" >
        last_id = #{lastId,jdbcType=VARCHAR},
      </if>
      <if test="underway != null" >
        underway = #{underway,jdbcType=BIT},
      </if>
    </set>
    where table_name = #{tableName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.primary.syncLogEntity" >
    update sync_log
    set last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_id = #{lastId,jdbcType=VARCHAR},
      underway = #{underway,jdbcType=BIT}
    where table_name = #{tableName,jdbcType=VARCHAR}
  </update>
</mapper>