<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.actHiVarinstEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.actHiVarinstEntity" >
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="REV_" property="rev" jdbcType="INTEGER" />
    <result column="PROC_INST_ID_" property="procInstId" jdbcType="VARCHAR" />
    <result column="EXECUTION_ID_" property="executionId" jdbcType="VARCHAR" />
    <result column="TASK_ID_" property="taskId" jdbcType="VARCHAR" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="VAR_TYPE_" property="varType" jdbcType="VARCHAR" />
    <result column="SCOPE_ID_" property="scopeId" jdbcType="VARCHAR" />
    <result column="SUB_SCOPE_ID_" property="subScopeId" jdbcType="VARCHAR" />
    <result column="SCOPE_TYPE_" property="scopeType" jdbcType="VARCHAR" />
    <result column="BYTEARRAY_ID_" property="bytearrayId" jdbcType="VARCHAR" />
    <result column="DOUBLE_" property="double" jdbcType="DOUBLE" />
    <result column="LONG_" property="long" jdbcType="BIGINT" />
    <result column="TEXT_" property="text" jdbcType="VARCHAR" />
    <result column="TEXT2_" property="text2" jdbcType="VARCHAR" />
    <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_TIME_" property="lastUpdatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID_, REV_, PROC_INST_ID_, EXECUTION_ID_, TASK_ID_, NAME_, VAR_TYPE_, SCOPE_ID_, SUB_SCOPE_ID_, 
    SCOPE_TYPE_, BYTEARRAY_ID_, DOUBLE_, LONG_, TEXT_, TEXT2_, CREATE_TIME_, LAST_UPDATED_TIME_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_hi_varinst
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from act_hi_varinst
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.actHiVarinstEntity" >
    insert into act_hi_varinst (ID_, REV_, PROC_INST_ID_, 
      EXECUTION_ID_, TASK_ID_, NAME_, 
      VAR_TYPE_, SCOPE_ID_, SUB_SCOPE_ID_, 
      SCOPE_TYPE_, BYTEARRAY_ID_, DOUBLE_, 
      LONG_, TEXT_, TEXT2_, CREATE_TIME_, 
      LAST_UPDATED_TIME_)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{procInstId,jdbcType=VARCHAR}, 
      #{executionId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{varType,jdbcType=VARCHAR}, #{scopeId,jdbcType=VARCHAR}, #{subScopeId,jdbcType=VARCHAR}, 
      #{scopeType,jdbcType=VARCHAR}, #{bytearrayId,jdbcType=VARCHAR}, #{double,jdbcType=DOUBLE}, 
      #{long,jdbcType=BIGINT}, #{text,jdbcType=VARCHAR}, #{text2,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.actHiVarinstEntity" >
    insert into act_hi_varinst
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="rev != null" >
        REV_,
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_,
      </if>
      <if test="executionId != null" >
        EXECUTION_ID_,
      </if>
      <if test="taskId != null" >
        TASK_ID_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="varType != null" >
        VAR_TYPE_,
      </if>
      <if test="scopeId != null" >
        SCOPE_ID_,
      </if>
      <if test="subScopeId != null" >
        SUB_SCOPE_ID_,
      </if>
      <if test="scopeType != null" >
        SCOPE_TYPE_,
      </if>
      <if test="bytearrayId != null" >
        BYTEARRAY_ID_,
      </if>
      <if test="double != null" >
        DOUBLE_,
      </if>
      <if test="long != null" >
        LONG_,
      </if>
      <if test="text != null" >
        TEXT_,
      </if>
      <if test="text2 != null" >
        TEXT2_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="lastUpdatedTime != null" >
        LAST_UPDATED_TIME_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null" >
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="procInstId != null" >
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null" >
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="varType != null" >
        #{varType,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null" >
        #{scopeId,jdbcType=VARCHAR},
      </if>
      <if test="subScopeId != null" >
        #{subScopeId,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null" >
        #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="bytearrayId != null" >
        #{bytearrayId,jdbcType=VARCHAR},
      </if>
      <if test="double != null" >
        #{double,jdbcType=DOUBLE},
      </if>
      <if test="long != null" >
        #{long,jdbcType=BIGINT},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedTime != null" >
        #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.actHiVarinstEntity" >
    update act_hi_varinst
    <set >
      <if test="rev != null" >
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null" >
        EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        TASK_ID_ = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="varType != null" >
        VAR_TYPE_ = #{varType,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null" >
        SCOPE_ID_ = #{scopeId,jdbcType=VARCHAR},
      </if>
      <if test="subScopeId != null" >
        SUB_SCOPE_ID_ = #{subScopeId,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null" >
        SCOPE_TYPE_ = #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="bytearrayId != null" >
        BYTEARRAY_ID_ = #{bytearrayId,jdbcType=VARCHAR},
      </if>
      <if test="double != null" >
        DOUBLE_ = #{double,jdbcType=DOUBLE},
      </if>
      <if test="long != null" >
        LONG_ = #{long,jdbcType=BIGINT},
      </if>
      <if test="text != null" >
        TEXT_ = #{text,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        TEXT2_ = #{text2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedTime != null" >
        LAST_UPDATED_TIME_ = #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.actHiVarinstEntity" >
    update act_hi_varinst
    set REV_ = #{rev,jdbcType=INTEGER},
      PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR},
      TASK_ID_ = #{taskId,jdbcType=VARCHAR},
      NAME_ = #{name,jdbcType=VARCHAR},
      VAR_TYPE_ = #{varType,jdbcType=VARCHAR},
      SCOPE_ID_ = #{scopeId,jdbcType=VARCHAR},
      SUB_SCOPE_ID_ = #{subScopeId,jdbcType=VARCHAR},
      SCOPE_TYPE_ = #{scopeType,jdbcType=VARCHAR},
      BYTEARRAY_ID_ = #{bytearrayId,jdbcType=VARCHAR},
      DOUBLE_ = #{double,jdbcType=DOUBLE},
      LONG_ = #{long,jdbcType=BIGINT},
      TEXT_ = #{text,jdbcType=VARCHAR},
      TEXT2_ = #{text2,jdbcType=VARCHAR},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATED_TIME_ = #{lastUpdatedTime,jdbcType=TIMESTAMP}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>