<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.ActIdPrivMappingEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.ActIdPrivMappingEntity" >
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="PRIV_ID_" property="privId" jdbcType="VARCHAR" />
    <result column="USER_ID_" property="userId" jdbcType="VARCHAR" />
    <result column="GROUP_ID_" property="groupId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID_, PRIV_ID_, USER_ID_, GROUP_ID_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_id_priv_mapping
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from act_id_priv_mapping
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.ActIdPrivMappingEntity" >
    insert into act_id_priv_mapping (ID_, PRIV_ID_, USER_ID_, 
      GROUP_ID_)
    values (#{id,jdbcType=VARCHAR}, #{privId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.ActIdPrivMappingEntity" >
    insert into act_id_priv_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="privId != null" >
        PRIV_ID_,
      </if>
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="groupId != null" >
        GROUP_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="privId != null" >
        #{privId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.ActIdPrivMappingEntity" >
    update act_id_priv_mapping
    <set >
      <if test="privId != null" >
        PRIV_ID_ = #{privId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID_ = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        GROUP_ID_ = #{groupId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.ActIdPrivMappingEntity" >
    update act_id_priv_mapping
    set PRIV_ID_ = #{privId,jdbcType=VARCHAR},
      USER_ID_ = #{userId,jdbcType=VARCHAR},
      GROUP_ID_ = #{groupId,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>