<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.ActRuTaskEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.ActRuTaskEntity" >
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="REV_" property="rev" jdbcType="INTEGER" />
    <result column="EXECUTION_ID_" property="executionId" jdbcType="VARCHAR" />
    <result column="PROC_INST_ID_" property="procInstId" jdbcType="VARCHAR" />
    <result column="PROC_DEF_ID_" property="procDefId" jdbcType="VARCHAR" />
    <result column="SCOPE_ID_" property="scopeId" jdbcType="VARCHAR" />
    <result column="SUB_SCOPE_ID_" property="subScopeId" jdbcType="VARCHAR" />
    <result column="SCOPE_TYPE_" property="scopeType" jdbcType="VARCHAR" />
    <result column="SCOPE_DEFINITION_ID_" property="scopeDefinitionId" jdbcType="VARCHAR" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="PARENT_TASK_ID_" property="parentTaskId" jdbcType="VARCHAR" />
    <result column="DESCRIPTION_" property="description" jdbcType="VARCHAR" />
    <result column="TASK_DEF_KEY_" property="taskDefKey" jdbcType="VARCHAR" />
    <result column="OWNER_" property="owner" jdbcType="VARCHAR" />
    <result column="ASSIGNEE_" property="assignee" jdbcType="VARCHAR" />
    <result column="DELEGATION_" property="delegation" jdbcType="VARCHAR" />
    <result column="PRIORITY_" property="priority" jdbcType="INTEGER" />
    <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DUE_DATE_" property="dueDate" jdbcType="TIMESTAMP" />
    <result column="CATEGORY_" property="category" jdbcType="VARCHAR" />
    <result column="SUSPENSION_STATE_" property="suspensionState" jdbcType="INTEGER" />
    <result column="TENANT_ID_" property="tenantId" jdbcType="VARCHAR" />
    <result column="FORM_KEY_" property="formKey" jdbcType="VARCHAR" />
    <result column="CLAIM_TIME_" property="claimTime" jdbcType="TIMESTAMP" />
    <result column="IS_COUNT_ENABLED_" property="isCountEnabled" jdbcType="TINYINT" />
    <result column="VAR_COUNT_" property="varCount" jdbcType="INTEGER" />
    <result column="ID_LINK_COUNT_" property="idLinkCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID_, REV_, EXECUTION_ID_, PROC_INST_ID_, PROC_DEF_ID_, SCOPE_ID_, SUB_SCOPE_ID_, 
    SCOPE_TYPE_, SCOPE_DEFINITION_ID_, NAME_, PARENT_TASK_ID_, DESCRIPTION_, TASK_DEF_KEY_, 
    OWNER_, ASSIGNEE_, DELEGATION_, PRIORITY_, CREATE_TIME_, DUE_DATE_, CATEGORY_, SUSPENSION_STATE_, 
    TENANT_ID_, FORM_KEY_, CLAIM_TIME_, IS_COUNT_ENABLED_, VAR_COUNT_, ID_LINK_COUNT_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_ru_task
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from act_ru_task
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.ActRuTaskEntity" >
    insert into act_ru_task (ID_, REV_, EXECUTION_ID_, 
      PROC_INST_ID_, PROC_DEF_ID_, SCOPE_ID_, 
      SUB_SCOPE_ID_, SCOPE_TYPE_, SCOPE_DEFINITION_ID_, 
      NAME_, PARENT_TASK_ID_, DESCRIPTION_, 
      TASK_DEF_KEY_, OWNER_, ASSIGNEE_, 
      DELEGATION_, PRIORITY_, CREATE_TIME_, 
      DUE_DATE_, CATEGORY_, SUSPENSION_STATE_, 
      TENANT_ID_, FORM_KEY_, CLAIM_TIME_, 
      IS_COUNT_ENABLED_, VAR_COUNT_, ID_LINK_COUNT_
      )
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{executionId,jdbcType=VARCHAR}, 
      #{procInstId,jdbcType=VARCHAR}, #{procDefId,jdbcType=VARCHAR}, #{scopeId,jdbcType=VARCHAR}, 
      #{subScopeId,jdbcType=VARCHAR}, #{scopeType,jdbcType=VARCHAR}, #{scopeDefinitionId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{parentTaskId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{taskDefKey,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, #{assignee,jdbcType=VARCHAR}, 
      #{delegation,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dueDate,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, #{suspensionState,jdbcType=INTEGER}, 
      #{tenantId,jdbcType=VARCHAR}, #{formKey,jdbcType=VARCHAR}, #{claimTime,jdbcType=TIMESTAMP}, 
      #{isCountEnabled,jdbcType=TINYINT}, #{varCount,jdbcType=INTEGER}, #{idLinkCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.ActRuTaskEntity" >
    insert into act_ru_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="rev != null" >
        REV_,
      </if>
      <if test="executionId != null" >
        EXECUTION_ID_,
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_,
      </if>
      <if test="procDefId != null" >
        PROC_DEF_ID_,
      </if>
      <if test="scopeId != null" >
        SCOPE_ID_,
      </if>
      <if test="subScopeId != null" >
        SUB_SCOPE_ID_,
      </if>
      <if test="scopeType != null" >
        SCOPE_TYPE_,
      </if>
      <if test="scopeDefinitionId != null" >
        SCOPE_DEFINITION_ID_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="parentTaskId != null" >
        PARENT_TASK_ID_,
      </if>
      <if test="description != null" >
        DESCRIPTION_,
      </if>
      <if test="taskDefKey != null" >
        TASK_DEF_KEY_,
      </if>
      <if test="owner != null" >
        OWNER_,
      </if>
      <if test="assignee != null" >
        ASSIGNEE_,
      </if>
      <if test="delegation != null" >
        DELEGATION_,
      </if>
      <if test="priority != null" >
        PRIORITY_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="dueDate != null" >
        DUE_DATE_,
      </if>
      <if test="category != null" >
        CATEGORY_,
      </if>
      <if test="suspensionState != null" >
        SUSPENSION_STATE_,
      </if>
      <if test="tenantId != null" >
        TENANT_ID_,
      </if>
      <if test="formKey != null" >
        FORM_KEY_,
      </if>
      <if test="claimTime != null" >
        CLAIM_TIME_,
      </if>
      <if test="isCountEnabled != null" >
        IS_COUNT_ENABLED_,
      </if>
      <if test="varCount != null" >
        VAR_COUNT_,
      </if>
      <if test="idLinkCount != null" >
        ID_LINK_COUNT_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null" >
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="executionId != null" >
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null" >
        #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null" >
        #{scopeId,jdbcType=VARCHAR},
      </if>
      <if test="subScopeId != null" >
        #{subScopeId,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null" >
        #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="scopeDefinitionId != null" >
        #{scopeDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null" >
        #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="taskDefKey != null" >
        #{taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null" >
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="delegation != null" >
        #{delegation,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dueDate != null" >
        #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="suspensionState != null" >
        #{suspensionState,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="formKey != null" >
        #{formKey,jdbcType=VARCHAR},
      </if>
      <if test="claimTime != null" >
        #{claimTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCountEnabled != null" >
        #{isCountEnabled,jdbcType=TINYINT},
      </if>
      <if test="varCount != null" >
        #{varCount,jdbcType=INTEGER},
      </if>
      <if test="idLinkCount != null" >
        #{idLinkCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.ActRuTaskEntity" >
    update act_ru_task
    <set >
      <if test="rev != null" >
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="executionId != null" >
        EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null" >
        PROC_DEF_ID_ = #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null" >
        SCOPE_ID_ = #{scopeId,jdbcType=VARCHAR},
      </if>
      <if test="subScopeId != null" >
        SUB_SCOPE_ID_ = #{subScopeId,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null" >
        SCOPE_TYPE_ = #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="scopeDefinitionId != null" >
        SCOPE_DEFINITION_ID_ = #{scopeDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null" >
        PARENT_TASK_ID_ = #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      </if>
      <if test="taskDefKey != null" >
        TASK_DEF_KEY_ = #{taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        OWNER_ = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null" >
        ASSIGNEE_ = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="delegation != null" >
        DELEGATION_ = #{delegation,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        PRIORITY_ = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dueDate != null" >
        DUE_DATE_ = #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        CATEGORY_ = #{category,jdbcType=VARCHAR},
      </if>
      <if test="suspensionState != null" >
        SUSPENSION_STATE_ = #{suspensionState,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="formKey != null" >
        FORM_KEY_ = #{formKey,jdbcType=VARCHAR},
      </if>
      <if test="claimTime != null" >
        CLAIM_TIME_ = #{claimTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCountEnabled != null" >
        IS_COUNT_ENABLED_ = #{isCountEnabled,jdbcType=TINYINT},
      </if>
      <if test="varCount != null" >
        VAR_COUNT_ = #{varCount,jdbcType=INTEGER},
      </if>
      <if test="idLinkCount != null" >
        ID_LINK_COUNT_ = #{idLinkCount,jdbcType=INTEGER},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.ActRuTaskEntity" >
    update act_ru_task
    set REV_ = #{rev,jdbcType=INTEGER},
      EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR},
      PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      PROC_DEF_ID_ = #{procDefId,jdbcType=VARCHAR},
      SCOPE_ID_ = #{scopeId,jdbcType=VARCHAR},
      SUB_SCOPE_ID_ = #{subScopeId,jdbcType=VARCHAR},
      SCOPE_TYPE_ = #{scopeType,jdbcType=VARCHAR},
      SCOPE_DEFINITION_ID_ = #{scopeDefinitionId,jdbcType=VARCHAR},
      NAME_ = #{name,jdbcType=VARCHAR},
      PARENT_TASK_ID_ = #{parentTaskId,jdbcType=VARCHAR},
      DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      TASK_DEF_KEY_ = #{taskDefKey,jdbcType=VARCHAR},
      OWNER_ = #{owner,jdbcType=VARCHAR},
      ASSIGNEE_ = #{assignee,jdbcType=VARCHAR},
      DELEGATION_ = #{delegation,jdbcType=VARCHAR},
      PRIORITY_ = #{priority,jdbcType=INTEGER},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      DUE_DATE_ = #{dueDate,jdbcType=TIMESTAMP},
      CATEGORY_ = #{category,jdbcType=VARCHAR},
      SUSPENSION_STATE_ = #{suspensionState,jdbcType=INTEGER},
      TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      FORM_KEY_ = #{formKey,jdbcType=VARCHAR},
      CLAIM_TIME_ = #{claimTime,jdbcType=TIMESTAMP},
      IS_COUNT_ENABLED_ = #{isCountEnabled,jdbcType=TINYINT},
      VAR_COUNT_ = #{varCount,jdbcType=INTEGER},
      ID_LINK_COUNT_ = #{idLinkCount,jdbcType=INTEGER}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>