<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.ItemCodeTblEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.ItemCodeTblEntity" >
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="hospital_code" property="hospitalCode" jdbcType="VARCHAR" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_status" property="itemStatus" jdbcType="VARCHAR" />
    <result column="item_level" property="itemLevel" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="VARCHAR" />
    <result column="item_category" property="itemCategory" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="DECIMAL" />
    <result column="own_pay_rate" property="ownPayRate" jdbcType="VARCHAR" />
    <result column="item_spec" property="itemSpec" jdbcType="VARCHAR" />
    <result column="dosage_forms" property="dosageForms" jdbcType="VARCHAR" />
    <result column="item_package" property="itemPackage" jdbcType="VARCHAR" />
    <result column="eff_date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="expiry_date" property="expiryDate" jdbcType="TIMESTAMP" />
    <result column="item_unit" property="itemUnit" jdbcType="VARCHAR" />
    <result column="item_manufacturer" property="itemManufacturer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, hospital_code, item_code, item_name, item_status, item_level, item_type, 
    item_category, item_price, own_pay_rate, item_spec, dosage_forms, item_package, eff_date, 
    expiry_date, item_unit, item_manufacturer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from item_code_tbl
    where item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from item_code_tbl
    where item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.ItemCodeTblEntity" >
    insert into item_code_tbl (item_id, hospital_code, item_code, 
      item_name, item_status, item_level, 
      item_type, item_category, item_price, 
      own_pay_rate, item_spec, dosage_forms, 
      item_package, eff_date, expiry_date, 
      item_unit, item_manufacturer)
    values (#{itemId,jdbcType=VARCHAR}, #{hospitalCode,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemStatus,jdbcType=VARCHAR}, #{itemLevel,jdbcType=VARCHAR}, 
      #{itemType,jdbcType=VARCHAR}, #{itemCategory,jdbcType=VARCHAR}, #{itemPrice,jdbcType=DECIMAL}, 
      #{ownPayRate,jdbcType=VARCHAR}, #{itemSpec,jdbcType=VARCHAR}, #{dosageForms,jdbcType=VARCHAR}, 
      #{itemPackage,jdbcType=VARCHAR}, #{effDate,jdbcType=TIMESTAMP}, #{expiryDate,jdbcType=TIMESTAMP}, 
      #{itemUnit,jdbcType=VARCHAR}, #{itemManufacturer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.ItemCodeTblEntity" >
    insert into item_code_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="hospitalCode != null" >
        hospital_code,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemStatus != null" >
        item_status,
      </if>
      <if test="itemLevel != null" >
        item_level,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="itemCategory != null" >
        item_category,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
      <if test="ownPayRate != null" >
        own_pay_rate,
      </if>
      <if test="itemSpec != null" >
        item_spec,
      </if>
      <if test="dosageForms != null" >
        dosage_forms,
      </if>
      <if test="itemPackage != null" >
        item_package,
      </if>
      <if test="effDate != null" >
        eff_date,
      </if>
      <if test="expiryDate != null" >
        expiry_date,
      </if>
      <if test="itemUnit != null" >
        item_unit,
      </if>
      <if test="itemManufacturer != null" >
        item_manufacturer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null" >
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null" >
        #{itemStatus,jdbcType=VARCHAR},
      </if>
      <if test="itemLevel != null" >
        #{itemLevel,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemCategory != null" >
        #{itemCategory,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="ownPayRate != null" >
        #{ownPayRate,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null" >
        #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="dosageForms != null" >
        #{dosageForms,jdbcType=VARCHAR},
      </if>
      <if test="itemPackage != null" >
        #{itemPackage,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDate != null" >
        #{expiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemUnit != null" >
        #{itemUnit,jdbcType=VARCHAR},
      </if>
      <if test="itemManufacturer != null" >
        #{itemManufacturer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.ItemCodeTblEntity" >
    update item_code_tbl
    <set >
      <if test="hospitalCode != null" >
        hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null" >
        item_status = #{itemStatus,jdbcType=VARCHAR},
      </if>
      <if test="itemLevel != null" >
        item_level = #{itemLevel,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemCategory != null" >
        item_category = #{itemCategory,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        item_price = #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="ownPayRate != null" >
        own_pay_rate = #{ownPayRate,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null" >
        item_spec = #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="dosageForms != null" >
        dosage_forms = #{dosageForms,jdbcType=VARCHAR},
      </if>
      <if test="itemPackage != null" >
        item_package = #{itemPackage,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        eff_date = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDate != null" >
        expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemUnit != null" >
        item_unit = #{itemUnit,jdbcType=VARCHAR},
      </if>
      <if test="itemManufacturer != null" >
        item_manufacturer = #{itemManufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.ItemCodeTblEntity" >
    update item_code_tbl
    set hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_status = #{itemStatus,jdbcType=VARCHAR},
      item_level = #{itemLevel,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=VARCHAR},
      item_category = #{itemCategory,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=DECIMAL},
      own_pay_rate = #{ownPayRate,jdbcType=VARCHAR},
      item_spec = #{itemSpec,jdbcType=VARCHAR},
      dosage_forms = #{dosageForms,jdbcType=VARCHAR},
      item_package = #{itemPackage,jdbcType=VARCHAR},
      eff_date = #{effDate,jdbcType=TIMESTAMP},
      expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
      item_unit = #{itemUnit,jdbcType=VARCHAR},
      item_manufacturer = #{itemManufacturer,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>