<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.materialRepeatedlyRecordEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.materialRepeatedlyRecordEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="docuno" property="docuno" jdbcType="VARCHAR" />
    <result column="push_message" property="pushMessage" jdbcType="VARCHAR" />
    <result column="push_status" property="pushStatus" jdbcType="VARCHAR" />
    <result column="upload_img" property="uploadImg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, docuno, push_message, push_status, upload_img, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from material_repeatedly_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from material_repeatedly_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.materialRepeatedlyRecordEntity" >
    insert into material_repeatedly_record (id, docuno, push_message, 
      push_status, upload_img, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{docuno,jdbcType=VARCHAR}, #{pushMessage,jdbcType=VARCHAR}, 
      #{pushStatus,jdbcType=VARCHAR}, #{uploadImg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.materialRepeatedlyRecordEntity" >
    insert into material_repeatedly_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="docuno != null" >
        docuno,
      </if>
      <if test="pushMessage != null" >
        push_message,
      </if>
      <if test="pushStatus != null" >
        push_status,
      </if>
      <if test="uploadImg != null" >
        upload_img,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="docuno != null" >
        #{docuno,jdbcType=VARCHAR},
      </if>
      <if test="pushMessage != null" >
        #{pushMessage,jdbcType=VARCHAR},
      </if>
      <if test="pushStatus != null" >
        #{pushStatus,jdbcType=VARCHAR},
      </if>
      <if test="uploadImg != null" >
        #{uploadImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.materialRepeatedlyRecordEntity" >
    update material_repeatedly_record
    <set >
      <if test="docuno != null" >
        docuno = #{docuno,jdbcType=VARCHAR},
      </if>
      <if test="pushMessage != null" >
        push_message = #{pushMessage,jdbcType=VARCHAR},
      </if>
      <if test="pushStatus != null" >
        push_status = #{pushStatus,jdbcType=VARCHAR},
      </if>
      <if test="uploadImg != null" >
        upload_img = #{uploadImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.materialRepeatedlyRecordEntity" >
    update material_repeatedly_record
    set docuno = #{docuno,jdbcType=VARCHAR},
      push_message = #{pushMessage,jdbcType=VARCHAR},
      push_status = #{pushStatus,jdbcType=VARCHAR},
      upload_img = #{uploadImg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>