<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.PlanPremEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.PlanPremEntity" >
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="plan_name" property="planName" jdbcType="VARCHAR" />
    <result column="risk_code" property="riskCode" jdbcType="VARCHAR" />
    <result column="risk_name" property="riskName" jdbcType="VARCHAR" />
    <result column="prem" property="prem" jdbcType="VARCHAR" />
    <result column="age_from" property="ageFrom" jdbcType="VARCHAR" />
    <result column="age_to" property="ageTo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_code, product_name, plan_code, plan_name,
    risk_code, risk_name, prem, age_from, age_to
  </sql>
  <select id="selectByPlanCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from plan_prem
    where plan_code = #{planCode,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.PlanPremEntity" >
    insert into plan_prem (product_code, product_name, plan_code, 
      plan_name, risk_code, risk_name, 
      prem, age_from, age_to
      )
    values (#{productCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{planCode,jdbcType=VARCHAR}, 
      #{planName,jdbcType=VARCHAR}, #{riskCode,jdbcType=VARCHAR}, #{riskName,jdbcType=VARCHAR}, 
      #{prem,jdbcType=VARCHAR}, #{ageFrom,jdbcType=VARCHAR}, #{ageTo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.PlanPremEntity" >
    insert into plan_prem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="planCode != null" >
        plan_code,
      </if>
      <if test="planName != null" >
        plan_name,
      </if>
      <if test="riskCode != null" >
        risk_code,
      </if>
      <if test="riskName != null" >
        risk_name,
      </if>
      <if test="prem != null" >
        prem,
      </if>
      <if test="ageFrom != null" >
        age_from,
      </if>
      <if test="ageTo != null" >
        age_to,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="planCode != null" >
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="planName != null" >
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="riskCode != null" >
        #{riskCode,jdbcType=VARCHAR},
      </if>
      <if test="riskName != null" >
        #{riskName,jdbcType=VARCHAR},
      </if>
      <if test="prem != null" >
        #{prem,jdbcType=VARCHAR},
      </if>
      <if test="ageFrom != null" >
        #{ageFrom,jdbcType=VARCHAR},
      </if>
      <if test="ageTo != null" >
        #{ageTo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>