<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.PolClientRelationEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.PolClientRelationEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="polno" property="polno" jdbcType="VARCHAR" />
    <result column="insured_id" property="insuredId" jdbcType="VARCHAR" />
    <result column="pol_relation" property="polRelation" jdbcType="VARCHAR" />
    <result column="update_poson" property="updatePoson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, polno, insured_id, pol_relation, update_poson, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pol_client_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pol_client_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.PolClientRelationEntity" >
    insert into pol_client_relation (id, polno, insured_id, 
      pol_relation, update_poson, update_time, 
      is_delete)
    values (#{id,jdbcType=VARCHAR}, #{polno,jdbcType=VARCHAR}, #{insuredId,jdbcType=VARCHAR}, 
      #{polRelation,jdbcType=VARCHAR}, #{updatePoson,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.PolClientRelationEntity" >
    insert into pol_client_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="polno != null" >
        polno,
      </if>
      <if test="insuredId != null" >
        insured_id,
      </if>
      <if test="polRelation != null" >
        pol_relation,
      </if>
      <if test="updatePoson != null" >
        update_poson,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="polno != null" >
        #{polno,jdbcType=VARCHAR},
      </if>
      <if test="insuredId != null" >
        #{insuredId,jdbcType=VARCHAR},
      </if>
      <if test="polRelation != null" >
        #{polRelation,jdbcType=VARCHAR},
      </if>
      <if test="updatePoson != null" >
        #{updatePoson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.PolClientRelationEntity" >
    update pol_client_relation
    <set >
      <if test="polno != null" >
        polno = #{polno,jdbcType=VARCHAR},
      </if>
      <if test="insuredId != null" >
        insured_id = #{insuredId,jdbcType=VARCHAR},
      </if>
      <if test="polRelation != null" >
        pol_relation = #{polRelation,jdbcType=VARCHAR},
      </if>
      <if test="updatePoson != null" >
        update_poson = #{updatePoson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.PolClientRelationEntity" >
    update pol_client_relation
    set polno = #{polno,jdbcType=VARCHAR},
      insured_id = #{insuredId,jdbcType=VARCHAR},
      pol_relation = #{polRelation,jdbcType=VARCHAR},
      update_poson = #{updatePoson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>