<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.polPlanBenefitTblEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.polPlanBenefitTblEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="polno" property="polno" jdbcType="VARCHAR" />
    <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="benefit_code" property="benefitCode" jdbcType="VARCHAR" />
    <result column="grade_level" property="gradeLevel" jdbcType="VARCHAR" />
    <result column="update_poson" property="updatePoson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, polno, plan_code, benefit_code, grade_level, update_poson, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pol_plan_benefit_tbl
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pol_plan_benefit_tbl
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.polPlanBenefitTblEntity" >
    insert into pol_plan_benefit_tbl (id, polno, plan_code, 
      benefit_code, grade_level, update_poson, 
      update_time, is_delete)
    values (#{id,jdbcType=VARCHAR}, #{polno,jdbcType=VARCHAR}, #{planCode,jdbcType=VARCHAR}, 
      #{benefitCode,jdbcType=VARCHAR}, #{gradeLevel,jdbcType=VARCHAR}, #{updatePoson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.polPlanBenefitTblEntity" >
    insert into pol_plan_benefit_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="polno != null" >
        polno,
      </if>
      <if test="planCode != null" >
        plan_code,
      </if>
      <if test="benefitCode != null" >
        benefit_code,
      </if>
      <if test="gradeLevel != null" >
        grade_level,
      </if>
      <if test="updatePoson != null" >
        update_poson,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="polno != null" >
        #{polno,jdbcType=VARCHAR},
      </if>
      <if test="planCode != null" >
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="benefitCode != null" >
        #{benefitCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevel != null" >
        #{gradeLevel,jdbcType=VARCHAR},
      </if>
      <if test="updatePoson != null" >
        #{updatePoson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.polPlanBenefitTblEntity" >
    update pol_plan_benefit_tbl
    <set >
      <if test="polno != null" >
        polno = #{polno,jdbcType=VARCHAR},
      </if>
      <if test="planCode != null" >
        plan_code = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="benefitCode != null" >
        benefit_code = #{benefitCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeLevel != null" >
        grade_level = #{gradeLevel,jdbcType=VARCHAR},
      </if>
      <if test="updatePoson != null" >
        update_poson = #{updatePoson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.polPlanBenefitTblEntity" >
    update pol_plan_benefit_tbl
    set polno = #{polno,jdbcType=VARCHAR},
      plan_code = #{planCode,jdbcType=VARCHAR},
      benefit_code = #{benefitCode,jdbcType=VARCHAR},
      grade_level = #{gradeLevel,jdbcType=VARCHAR},
      update_poson = #{updatePoson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>