<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.table2EntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.table2Entity" >
    <result column="保健康报案号" property="保健康报案号" jdbcType="VARCHAR" />
    <result column="姓名" property="姓名" jdbcType="VARCHAR" />
    <result column="证件号" property="证件号" jdbcType="VARCHAR" />
    <result column="申请金额" property="申请金额" jdbcType="VARCHAR" />
    <result column="初审用户" property="初审用户" jdbcType="VARCHAR" />
    <result column="初审申请时间" property="初审申请时间" jdbcType="VARCHAR" />
    <result column="初审提交时间" property="初审提交时间" jdbcType="VARCHAR" />
    <result column="初审不通过结论" property="初审不通过结论" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.table2Entity" >
    insert into table_2 (保健康报案号, 姓名, 证件号, 
      申请金额, 初审用户, 初审申请时间, 
      初审提交时间, 初审不通过结论)
    values (#{保健康报案号,jdbcType=VARCHAR}, #{姓名,jdbcType=VARCHAR}, #{证件号,jdbcType=VARCHAR}, 
      #{申请金额,jdbcType=VARCHAR}, #{初审用户,jdbcType=VARCHAR}, #{初审申请时间,jdbcType=VARCHAR}, 
      #{初审提交时间,jdbcType=VARCHAR}, #{初审不通过结论,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.table2Entity" >
    insert into table_2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="保健康报案号 != null" >
        保健康报案号,
      </if>
      <if test="姓名 != null" >
        姓名,
      </if>
      <if test="证件号 != null" >
        证件号,
      </if>
      <if test="申请金额 != null" >
        申请金额,
      </if>
      <if test="初审用户 != null" >
        初审用户,
      </if>
      <if test="初审申请时间 != null" >
        初审申请时间,
      </if>
      <if test="初审提交时间 != null" >
        初审提交时间,
      </if>
      <if test="初审不通过结论 != null" >
        初审不通过结论,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="保健康报案号 != null" >
        #{保健康报案号,jdbcType=VARCHAR},
      </if>
      <if test="姓名 != null" >
        #{姓名,jdbcType=VARCHAR},
      </if>
      <if test="证件号 != null" >
        #{证件号,jdbcType=VARCHAR},
      </if>
      <if test="申请金额 != null" >
        #{申请金额,jdbcType=VARCHAR},
      </if>
      <if test="初审用户 != null" >
        #{初审用户,jdbcType=VARCHAR},
      </if>
      <if test="初审申请时间 != null" >
        #{初审申请时间,jdbcType=VARCHAR},
      </if>
      <if test="初审提交时间 != null" >
        #{初审提交时间,jdbcType=VARCHAR},
      </if>
      <if test="初审不通过结论 != null" >
        #{初审不通过结论,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>