<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.table1EntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.table1Entity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="报案号" property="报案号" jdbcType="VARCHAR" />
    <result column="沛合案件号" property="沛合案件号" jdbcType="VARCHAR" />
    <result column="人保健案件号" property="人保健案件号" jdbcType="VARCHAR" />
    <result column="报案姓名" property="报案姓名" jdbcType="VARCHAR" />
    <result column="报案证件号码" property="报案证件号码" jdbcType="VARCHAR" />
    <result column="险种名称" property="险种名称" jdbcType="VARCHAR" />
    <result column="保单号码" property="保单号码" jdbcType="VARCHAR" />
    <result column="报案时间" property="报案时间" jdbcType="VARCHAR" />
    <result column="赔付金额" property="赔付金额" jdbcType="VARCHAR" />
    <result column="发票数" property="发票数" jdbcType="VARCHAR" />
    <result column="超10张发票" property="超10张发票" jdbcType="VARCHAR" />
    <result column="初审用户名" property="初审用户名" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, 报案号, 沛合案件号, 人保健案件号, 报案姓名, 报案证件号码, 险种名称, 保单号码, 报案时间, 赔付金额, 发票数, 超10张发票, 初审用户名
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from table_1
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from table_1
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.table1Entity" >
    insert into table_1 (ID, 报案号, 沛合案件号, 
      人保健案件号, 报案姓名, 报案证件号码, 
      险种名称, 保单号码, 报案时间, 赔付金额, 
      发票数, 超10张发票, 初审用户名)
    values (#{id,jdbcType=VARCHAR}, #{报案号,jdbcType=VARCHAR}, #{沛合案件号,jdbcType=VARCHAR}, 
      #{人保健案件号,jdbcType=VARCHAR}, #{报案姓名,jdbcType=VARCHAR}, #{报案证件号码,jdbcType=VARCHAR}, 
      #{险种名称,jdbcType=VARCHAR}, #{保单号码,jdbcType=VARCHAR}, #{报案时间,jdbcType=VARCHAR}, #{赔付金额,jdbcType=VARCHAR}, 
      #{发票数,jdbcType=VARCHAR}, #{超10张发票,jdbcType=VARCHAR}, #{初审用户名,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.table1Entity" >
    insert into table_1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="报案号 != null" >
        报案号,
      </if>
      <if test="沛合案件号 != null" >
        沛合案件号,
      </if>
      <if test="人保健案件号 != null" >
        人保健案件号,
      </if>
      <if test="报案姓名 != null" >
        报案姓名,
      </if>
      <if test="报案证件号码 != null" >
        报案证件号码,
      </if>
      <if test="险种名称 != null" >
        险种名称,
      </if>
      <if test="保单号码 != null" >
        保单号码,
      </if>
      <if test="报案时间 != null" >
        报案时间,
      </if>
      <if test="赔付金额 != null" >
        赔付金额,
      </if>
      <if test="发票数 != null" >
        发票数,
      </if>
      <if test="超10张发票 != null" >
        超10张发票,
      </if>
      <if test="初审用户名 != null" >
        初审用户名,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="报案号 != null" >
        #{报案号,jdbcType=VARCHAR},
      </if>
      <if test="沛合案件号 != null" >
        #{沛合案件号,jdbcType=VARCHAR},
      </if>
      <if test="人保健案件号 != null" >
        #{人保健案件号,jdbcType=VARCHAR},
      </if>
      <if test="报案姓名 != null" >
        #{报案姓名,jdbcType=VARCHAR},
      </if>
      <if test="报案证件号码 != null" >
        #{报案证件号码,jdbcType=VARCHAR},
      </if>
      <if test="险种名称 != null" >
        #{险种名称,jdbcType=VARCHAR},
      </if>
      <if test="保单号码 != null" >
        #{保单号码,jdbcType=VARCHAR},
      </if>
      <if test="报案时间 != null" >
        #{报案时间,jdbcType=VARCHAR},
      </if>
      <if test="赔付金额 != null" >
        #{赔付金额,jdbcType=VARCHAR},
      </if>
      <if test="发票数 != null" >
        #{发票数,jdbcType=VARCHAR},
      </if>
      <if test="超10张发票 != null" >
        #{超10张发票,jdbcType=VARCHAR},
      </if>
      <if test="初审用户名 != null" >
        #{初审用户名,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.table1Entity" >
    update table_1
    <set >
      <if test="报案号 != null" >
        报案号 = #{报案号,jdbcType=VARCHAR},
      </if>
      <if test="沛合案件号 != null" >
        沛合案件号 = #{沛合案件号,jdbcType=VARCHAR},
      </if>
      <if test="人保健案件号 != null" >
        人保健案件号 = #{人保健案件号,jdbcType=VARCHAR},
      </if>
      <if test="报案姓名 != null" >
        报案姓名 = #{报案姓名,jdbcType=VARCHAR},
      </if>
      <if test="报案证件号码 != null" >
        报案证件号码 = #{报案证件号码,jdbcType=VARCHAR},
      </if>
      <if test="险种名称 != null" >
        险种名称 = #{险种名称,jdbcType=VARCHAR},
      </if>
      <if test="保单号码 != null" >
        保单号码 = #{保单号码,jdbcType=VARCHAR},
      </if>
      <if test="报案时间 != null" >
        报案时间 = #{报案时间,jdbcType=VARCHAR},
      </if>
      <if test="赔付金额 != null" >
        赔付金额 = #{赔付金额,jdbcType=VARCHAR},
      </if>
      <if test="发票数 != null" >
        发票数 = #{发票数,jdbcType=VARCHAR},
      </if>
      <if test="超10张发票 != null" >
        超10张发票 = #{超10张发票,jdbcType=VARCHAR},
      </if>
      <if test="初审用户名 != null" >
        初审用户名 = #{初审用户名,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.table1Entity" >
    update table_1
    set 报案号 = #{报案号,jdbcType=VARCHAR},
      沛合案件号 = #{沛合案件号,jdbcType=VARCHAR},
      人保健案件号 = #{人保健案件号,jdbcType=VARCHAR},
      报案姓名 = #{报案姓名,jdbcType=VARCHAR},
      报案证件号码 = #{报案证件号码,jdbcType=VARCHAR},
      险种名称 = #{险种名称,jdbcType=VARCHAR},
      保单号码 = #{保单号码,jdbcType=VARCHAR},
      报案时间 = #{报案时间,jdbcType=VARCHAR},
      赔付金额 = #{赔付金额,jdbcType=VARCHAR},
      发票数 = #{发票数,jdbcType=VARCHAR},
      超10张发票 = #{超10张发票,jdbcType=VARCHAR},
      初审用户名 = #{初审用户名,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>