<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.userChannelInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.userChannelInfoEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="source_desc" property="sourceDesc" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="process_type" property="processType" jdbcType="VARCHAR" />
    <result column="sftp_pwd" property="sftpPwd" jdbcType="VARCHAR" />
    <result column="case_type" property="caseType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, channel, source, source_desc, created_date, updated_date, process_type, sftp_pwd, 
    case_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_channel_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_channel_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.userChannelInfoEntity" >
    insert into user_channel_info (id, channel, source, 
      source_desc, created_date, updated_date, 
      process_type, sftp_pwd, case_type
      )
    values (#{id,jdbcType=INTEGER}, #{channel,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{sourceDesc,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{processType,jdbcType=VARCHAR}, #{sftpPwd,jdbcType=VARCHAR}, #{caseType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.userChannelInfoEntity" >
    insert into user_channel_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="sourceDesc != null" >
        source_desc,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="processType != null" >
        process_type,
      </if>
      <if test="sftpPwd != null" >
        sftp_pwd,
      </if>
      <if test="caseType != null" >
        case_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceDesc != null" >
        #{sourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="processType != null" >
        #{processType,jdbcType=VARCHAR},
      </if>
      <if test="sftpPwd != null" >
        #{sftpPwd,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.userChannelInfoEntity" >
    update user_channel_info
    <set >
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceDesc != null" >
        source_desc = #{sourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="processType != null" >
        process_type = #{processType,jdbcType=VARCHAR},
      </if>
      <if test="sftpPwd != null" >
        sftp_pwd = #{sftpPwd,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        case_type = #{caseType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.userChannelInfoEntity" >
    update user_channel_info
    set channel = #{channel,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      source_desc = #{sourceDesc,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      process_type = #{processType,jdbcType=VARCHAR},
      sftp_pwd = #{sftpPwd,jdbcType=VARCHAR},
      case_type = #{caseType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>