<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.secondary.userSourceInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.secondary.userSourceInfoEntity" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <id column="source" property="source" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="source_desc" property="sourceDesc" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="case_type" property="caseType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, source, id, source_desc, created_by, created_date, updated_by, updated_date, 
    case_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.junling.mis.model.secondary.userSourceInfoEntityKey" >
    select 
    <include refid="Base_Column_List" />
    from user_source_info
    where user_id = #{userId,jdbcType=VARCHAR}
      and source = #{source,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.junling.mis.model.secondary.userSourceInfoEntityKey" >
    delete from user_source_info
    where user_id = #{userId,jdbcType=VARCHAR}
      and source = #{source,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.secondary.userSourceInfoEntity" >
    insert into user_source_info (user_id, source, id, 
      source_desc, created_by, created_date, 
      updated_by, updated_date, case_type
      )
    values (#{userId,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, 
      #{sourceDesc,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, #{caseType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.secondary.userSourceInfoEntity" >
    insert into user_source_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="sourceDesc != null" >
        source_desc,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="caseType != null" >
        case_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceDesc != null" >
        #{sourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.secondary.userSourceInfoEntity" >
    update user_source_info
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceDesc != null" >
        source_desc = #{sourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="caseType != null" >
        case_type = #{caseType,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
      and source = #{source,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.secondary.userSourceInfoEntity" >
    update user_source_info
    set id = #{id,jdbcType=INTEGER},
      source_desc = #{sourceDesc,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      case_type = #{caseType,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
      and source = #{source,jdbcType=VARCHAR}
  </update>
</mapper>