<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.drugsGuangdongEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.drugsGuangdongEntity" >
    <result column="drug_code" property="drugCode" jdbcType="VARCHAR" />
    <result column="drug_classification" property="drugClassification" jdbcType="VARCHAR" />
    <result column="drug_num" property="drugNum" jdbcType="VARCHAR" />
    <result column="drug_name" property="drugName" jdbcType="VARCHAR" />
    <result column="formulation" property="formulation" jdbcType="VARCHAR" />
    <result column="pay_category" property="payCategory" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.junling.mis.model.drugsGuangdongEntity" >
    insert into drugs_guangdong (drug_code, drug_classification, drug_num, 
      drug_name, formulation, pay_category, 
      remark)
    values (#{drugCode,jdbcType=VARCHAR}, #{drugClassification,jdbcType=VARCHAR}, #{drugNum,jdbcType=VARCHAR}, 
      #{drugName,jdbcType=VARCHAR}, #{formulation,jdbcType=VARCHAR}, #{payCategory,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.drugsGuangdongEntity" >
    insert into drugs_guangdong
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drugCode != null" >
        drug_code,
      </if>
      <if test="drugClassification != null" >
        drug_classification,
      </if>
      <if test="drugNum != null" >
        drug_num,
      </if>
      <if test="drugName != null" >
        drug_name,
      </if>
      <if test="formulation != null" >
        formulation,
      </if>
      <if test="payCategory != null" >
        pay_category,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drugCode != null" >
        #{drugCode,jdbcType=VARCHAR},
      </if>
      <if test="drugClassification != null" >
        #{drugClassification,jdbcType=VARCHAR},
      </if>
      <if test="drugNum != null" >
        #{drugNum,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null" >
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="formulation != null" >
        #{formulation,jdbcType=VARCHAR},
      </if>
      <if test="payCategory != null" >
        #{payCategory,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>