<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.dutySubInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.dutySubInfoEntity" >
    <id column="duty_sub_id" property="dutySubId" jdbcType="VARCHAR" />
    <result column="duty_sub_code" property="dutySubCode" jdbcType="VARCHAR" />
    <result column="duty_sub_name" property="dutySubName" jdbcType="VARCHAR" />
    <result column="duty_sub_type" property="dutySubType" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="VARCHAR" />
    <result column="required" property="required" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    duty_sub_id, duty_sub_code, duty_sub_name, duty_sub_type, duty_id, required, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from duty_sub_info
    where duty_sub_id = #{dutySubId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from duty_sub_info
    where duty_sub_id = #{dutySubId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.dutySubInfoEntity" >
    insert into duty_sub_info (duty_sub_id, duty_sub_code, duty_sub_name, 
      duty_sub_type, duty_id, required, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{dutySubId,jdbcType=VARCHAR}, #{dutySubCode,jdbcType=VARCHAR}, #{dutySubName,jdbcType=VARCHAR}, 
      #{dutySubType,jdbcType=VARCHAR}, #{dutyId,jdbcType=VARCHAR}, #{required,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.dutySubInfoEntity" >
    insert into duty_sub_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dutySubId != null" >
        duty_sub_id,
      </if>
      <if test="dutySubCode != null" >
        duty_sub_code,
      </if>
      <if test="dutySubName != null" >
        duty_sub_name,
      </if>
      <if test="dutySubType != null" >
        duty_sub_type,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="required != null" >
        required,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dutySubId != null" >
        #{dutySubId,jdbcType=VARCHAR},
      </if>
      <if test="dutySubCode != null" >
        #{dutySubCode,jdbcType=VARCHAR},
      </if>
      <if test="dutySubName != null" >
        #{dutySubName,jdbcType=VARCHAR},
      </if>
      <if test="dutySubType != null" >
        #{dutySubType,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        #{required,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.dutySubInfoEntity" >
    update duty_sub_info
    <set >
      <if test="dutySubCode != null" >
        duty_sub_code = #{dutySubCode,jdbcType=VARCHAR},
      </if>
      <if test="dutySubName != null" >
        duty_sub_name = #{dutySubName,jdbcType=VARCHAR},
      </if>
      <if test="dutySubType != null" >
        duty_sub_type = #{dutySubType,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        required = #{required,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where duty_sub_id = #{dutySubId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.dutySubInfoEntity" >
    update duty_sub_info
    set duty_sub_code = #{dutySubCode,jdbcType=VARCHAR},
      duty_sub_name = #{dutySubName,jdbcType=VARCHAR},
      duty_sub_type = #{dutySubType,jdbcType=VARCHAR},
      duty_id = #{dutyId,jdbcType=VARCHAR},
      required = #{required,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where duty_sub_id = #{dutySubId,jdbcType=VARCHAR}
  </update>
</mapper>