<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.policyGradeLevelEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.policyGradeLevelEntity" >
    <id column="policy_grade_level_id" property="policyGradeLevelId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_grade_level_no" property="policyGradeLevelNo" jdbcType="DECIMAL" />
    <result column="policy_grade_level_name" property="policyGradeLevelName" jdbcType="VARCHAR" />
    <result column="pgl_total_prem" property="pglTotalPrem" jdbcType="DECIMAL" />
    <result column="pgl_base_coverage" property="pglBaseCoverage" jdbcType="DECIMAL" />
    <result column="pgl_covered_area" property="pglCoveredArea" jdbcType="VARCHAR" />
    <result column="pgl_des" property="pglDes" jdbcType="VARCHAR" />
    <result column="pgl_special_contract" property="pglSpecialContract" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_grade_level_id, policy_no, policy_grade_level_no, policy_grade_level_name, 
    pgl_total_prem, pgl_base_coverage, pgl_covered_area, pgl_des, pgl_special_contract, 
    created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from policy_grade_level
    where policy_grade_level_id = #{policyGradeLevelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_grade_level
    where policy_grade_level_id = #{policyGradeLevelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.policyGradeLevelEntity" >
    insert into policy_grade_level (policy_grade_level_id, policy_no, policy_grade_level_no, 
      policy_grade_level_name, pgl_total_prem, pgl_base_coverage, 
      pgl_covered_area, pgl_des, pgl_special_contract, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{policyGradeLevelId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{policyGradeLevelNo,jdbcType=DECIMAL}, 
      #{policyGradeLevelName,jdbcType=VARCHAR}, #{pglTotalPrem,jdbcType=DECIMAL}, #{pglBaseCoverage,jdbcType=DECIMAL}, 
      #{pglCoveredArea,jdbcType=VARCHAR}, #{pglDes,jdbcType=VARCHAR}, #{pglSpecialContract,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.policyGradeLevelEntity" >
    insert into policy_grade_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyGradeLevelId != null" >
        policy_grade_level_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no,
      </if>
      <if test="policyGradeLevelName != null" >
        policy_grade_level_name,
      </if>
      <if test="pglTotalPrem != null" >
        pgl_total_prem,
      </if>
      <if test="pglBaseCoverage != null" >
        pgl_base_coverage,
      </if>
      <if test="pglCoveredArea != null" >
        pgl_covered_area,
      </if>
      <if test="pglDes != null" >
        pgl_des,
      </if>
      <if test="pglSpecialContract != null" >
        pgl_special_contract,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyGradeLevelId != null" >
        #{policyGradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        #{policyGradeLevelNo,jdbcType=DECIMAL},
      </if>
      <if test="policyGradeLevelName != null" >
        #{policyGradeLevelName,jdbcType=VARCHAR},
      </if>
      <if test="pglTotalPrem != null" >
        #{pglTotalPrem,jdbcType=DECIMAL},
      </if>
      <if test="pglBaseCoverage != null" >
        #{pglBaseCoverage,jdbcType=DECIMAL},
      </if>
      <if test="pglCoveredArea != null" >
        #{pglCoveredArea,jdbcType=VARCHAR},
      </if>
      <if test="pglDes != null" >
        #{pglDes,jdbcType=VARCHAR},
      </if>
      <if test="pglSpecialContract != null" >
        #{pglSpecialContract,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.policyGradeLevelEntity" >
    update policy_grade_level
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelNo != null" >
        policy_grade_level_no = #{policyGradeLevelNo,jdbcType=DECIMAL},
      </if>
      <if test="policyGradeLevelName != null" >
        policy_grade_level_name = #{policyGradeLevelName,jdbcType=VARCHAR},
      </if>
      <if test="pglTotalPrem != null" >
        pgl_total_prem = #{pglTotalPrem,jdbcType=DECIMAL},
      </if>
      <if test="pglBaseCoverage != null" >
        pgl_base_coverage = #{pglBaseCoverage,jdbcType=DECIMAL},
      </if>
      <if test="pglCoveredArea != null" >
        pgl_covered_area = #{pglCoveredArea,jdbcType=VARCHAR},
      </if>
      <if test="pglDes != null" >
        pgl_des = #{pglDes,jdbcType=VARCHAR},
      </if>
      <if test="pglSpecialContract != null" >
        pgl_special_contract = #{pglSpecialContract,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where policy_grade_level_id = #{policyGradeLevelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.policyGradeLevelEntity" >
    update policy_grade_level
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_grade_level_no = #{policyGradeLevelNo,jdbcType=DECIMAL},
      policy_grade_level_name = #{policyGradeLevelName,jdbcType=VARCHAR},
      pgl_total_prem = #{pglTotalPrem,jdbcType=DECIMAL},
      pgl_base_coverage = #{pglBaseCoverage,jdbcType=DECIMAL},
      pgl_covered_area = #{pglCoveredArea,jdbcType=VARCHAR},
      pgl_des = #{pglDes,jdbcType=VARCHAR},
      pgl_special_contract = #{pglSpecialContract,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_grade_level_id = #{policyGradeLevelId,jdbcType=VARCHAR}
  </update>
</mapper>