<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.policyReinsuranceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.policyReinsuranceEntity" >
    <id column="policy_reinsurance_id" property="policyReinsuranceId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_reinsurance_no" property="policyReinsuranceNo" jdbcType="VARCHAR" />
    <result column="br_no" property="brNo" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="underwriting_time" property="underwritingTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="accept_insurance_time" property="acceptInsuranceTime" jdbcType="TIMESTAMP" />
    <result column="effect_time" property="effectTime" jdbcType="TIMESTAMP" />
    <result column="maturity_time" property="maturityTime" jdbcType="TIMESTAMP" />
    <result column="policy_reinsurance_status" property="policyReinsuranceStatus" jdbcType="VARCHAR" />
    <result column="pr_main_person" property="prMainPerson" jdbcType="VARCHAR" />
    <result column="total_insured_count" property="totalInsuredCount" jdbcType="DECIMAL" />
    <result column="effect_insured_count" property="effectInsuredCount" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.junling.mis.model.policyReinsuranceEntity" extends="BaseResultMap" >
    <result column="pb_special_contract" property="pbSpecialContract" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_reinsurance_id, policy_no, policy_reinsurance_no, br_no, product_id, underwriting_time, 
    pay_time, accept_insurance_time, effect_time, maturity_time, policy_reinsurance_status, 
    pr_main_person, total_insured_count, effect_insured_count, created_by, created_time, 
    updated_by, updated_time
  </sql>
  <sql id="Blob_Column_List" >
    pb_special_contract
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from policy_reinsurance
    where policy_reinsurance_id = #{policyReinsuranceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_reinsurance
    where policy_reinsurance_id = #{policyReinsuranceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.policyReinsuranceEntity" >
    insert into policy_reinsurance (policy_reinsurance_id, policy_no, policy_reinsurance_no, 
      br_no, product_id, underwriting_time, 
      pay_time, accept_insurance_time, effect_time, 
      maturity_time, policy_reinsurance_status, 
      pr_main_person, total_insured_count, effect_insured_count, 
      created_by, created_time, updated_by, 
      updated_time, pb_special_contract)
    values (#{policyReinsuranceId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{policyReinsuranceNo,jdbcType=VARCHAR}, 
      #{brNo,jdbcType=DECIMAL}, #{productId,jdbcType=VARCHAR}, #{underwritingTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{acceptInsuranceTime,jdbcType=TIMESTAMP}, #{effectTime,jdbcType=TIMESTAMP}, 
      #{maturityTime,jdbcType=TIMESTAMP}, #{policyReinsuranceStatus,jdbcType=VARCHAR}, 
      #{prMainPerson,jdbcType=VARCHAR}, #{totalInsuredCount,jdbcType=DECIMAL}, #{effectInsuredCount,jdbcType=DECIMAL}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{pbSpecialContract,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.policyReinsuranceEntity" >
    insert into policy_reinsurance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyReinsuranceId != null" >
        policy_reinsurance_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no,
      </if>
      <if test="brNo != null" >
        br_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="underwritingTime != null" >
        underwriting_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="acceptInsuranceTime != null" >
        accept_insurance_time,
      </if>
      <if test="effectTime != null" >
        effect_time,
      </if>
      <if test="maturityTime != null" >
        maturity_time,
      </if>
      <if test="policyReinsuranceStatus != null" >
        policy_reinsurance_status,
      </if>
      <if test="prMainPerson != null" >
        pr_main_person,
      </if>
      <if test="totalInsuredCount != null" >
        total_insured_count,
      </if>
      <if test="effectInsuredCount != null" >
        effect_insured_count,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="pbSpecialContract != null" >
        pb_special_contract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyReinsuranceId != null" >
        #{policyReinsuranceId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        #{brNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="underwritingTime != null" >
        #{underwritingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptInsuranceTime != null" >
        #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectTime != null" >
        #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maturityTime != null" >
        #{maturityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policyReinsuranceStatus != null" >
        #{policyReinsuranceStatus,jdbcType=VARCHAR},
      </if>
      <if test="prMainPerson != null" >
        #{prMainPerson,jdbcType=VARCHAR},
      </if>
      <if test="totalInsuredCount != null" >
        #{totalInsuredCount,jdbcType=DECIMAL},
      </if>
      <if test="effectInsuredCount != null" >
        #{effectInsuredCount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pbSpecialContract != null" >
        #{pbSpecialContract,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.policyReinsuranceEntity" >
    update policy_reinsurance
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        br_no = #{brNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="underwritingTime != null" >
        underwriting_time = #{underwritingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptInsuranceTime != null" >
        accept_insurance_time = #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectTime != null" >
        effect_time = #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maturityTime != null" >
        maturity_time = #{maturityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policyReinsuranceStatus != null" >
        policy_reinsurance_status = #{policyReinsuranceStatus,jdbcType=VARCHAR},
      </if>
      <if test="prMainPerson != null" >
        pr_main_person = #{prMainPerson,jdbcType=VARCHAR},
      </if>
      <if test="totalInsuredCount != null" >
        total_insured_count = #{totalInsuredCount,jdbcType=DECIMAL},
      </if>
      <if test="effectInsuredCount != null" >
        effect_insured_count = #{effectInsuredCount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pbSpecialContract != null" >
        pb_special_contract = #{pbSpecialContract,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where policy_reinsurance_id = #{policyReinsuranceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.junling.mis.model.policyReinsuranceEntity" >
    update policy_reinsurance
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      br_no = #{brNo,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=VARCHAR},
      underwriting_time = #{underwritingTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      accept_insurance_time = #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      effect_time = #{effectTime,jdbcType=TIMESTAMP},
      maturity_time = #{maturityTime,jdbcType=TIMESTAMP},
      policy_reinsurance_status = #{policyReinsuranceStatus,jdbcType=VARCHAR},
      pr_main_person = #{prMainPerson,jdbcType=VARCHAR},
      total_insured_count = #{totalInsuredCount,jdbcType=DECIMAL},
      effect_insured_count = #{effectInsuredCount,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      pb_special_contract = #{pbSpecialContract,jdbcType=LONGVARCHAR}
    where policy_reinsurance_id = #{policyReinsuranceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.policyReinsuranceEntity" >
    update policy_reinsurance
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      br_no = #{brNo,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=VARCHAR},
      underwriting_time = #{underwritingTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      accept_insurance_time = #{acceptInsuranceTime,jdbcType=TIMESTAMP},
      effect_time = #{effectTime,jdbcType=TIMESTAMP},
      maturity_time = #{maturityTime,jdbcType=TIMESTAMP},
      policy_reinsurance_status = #{policyReinsuranceStatus,jdbcType=VARCHAR},
      pr_main_person = #{prMainPerson,jdbcType=VARCHAR},
      total_insured_count = #{totalInsuredCount,jdbcType=DECIMAL},
      effect_insured_count = #{effectInsuredCount,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_reinsurance_id = #{policyReinsuranceId,jdbcType=VARCHAR}
  </update>
</mapper>