<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.policyInsuredServiceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.policyInsuredServiceEntity" >
    <id column="policy_insured_service_id" property="policyInsuredServiceId" jdbcType="VARCHAR" />
    <result column="policy_no" property="policyNo" jdbcType="VARCHAR" />
    <result column="policy_reinsurance_no" property="policyReinsuranceNo" jdbcType="VARCHAR" />
    <result column="br_no" property="brNo" jdbcType="DECIMAL" />
    <result column="insure_id" property="insureId" jdbcType="VARCHAR" />
    <result column="policy_grade_level_id" property="policyGradeLevelId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="service_code" property="serviceCode" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="service_time" property="serviceTime" jdbcType="DECIMAL" />
    <result column="service_status" property="serviceStatus" jdbcType="VARCHAR" />
    <result column="service_time_left" property="serviceTimeLeft" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_insured_service_id, policy_no, policy_reinsurance_no, br_no, insure_id, policy_grade_level_id, 
    product_id, service_code, service_type, service_time, service_status, service_time_left, 
    created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from policy_insured_service
    where policy_insured_service_id = #{policyInsuredServiceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_insured_service
    where policy_insured_service_id = #{policyInsuredServiceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.policyInsuredServiceEntity" >
    insert into policy_insured_service (policy_insured_service_id, policy_no, 
      policy_reinsurance_no, br_no, insure_id, 
      policy_grade_level_id, product_id, service_code, 
      service_type, service_time, service_status, 
      service_time_left, created_by, created_time, 
      updated_by, updated_time)
    values (#{policyInsuredServiceId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, 
      #{policyReinsuranceNo,jdbcType=VARCHAR}, #{brNo,jdbcType=DECIMAL}, #{insureId,jdbcType=VARCHAR}, 
      #{policyGradeLevelId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{serviceCode,jdbcType=VARCHAR}, 
      #{serviceType,jdbcType=VARCHAR}, #{serviceTime,jdbcType=DECIMAL}, #{serviceStatus,jdbcType=VARCHAR}, 
      #{serviceTimeLeft,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.policyInsuredServiceEntity" >
    insert into policy_insured_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyInsuredServiceId != null" >
        policy_insured_service_id,
      </if>
      <if test="policyNo != null" >
        policy_no,
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no,
      </if>
      <if test="brNo != null" >
        br_no,
      </if>
      <if test="insureId != null" >
        insure_id,
      </if>
      <if test="policyGradeLevelId != null" >
        policy_grade_level_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="serviceCode != null" >
        service_code,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="serviceTime != null" >
        service_time,
      </if>
      <if test="serviceStatus != null" >
        service_status,
      </if>
      <if test="serviceTimeLeft != null" >
        service_time_left,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyInsuredServiceId != null" >
        #{policyInsuredServiceId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        #{brNo,jdbcType=DECIMAL},
      </if>
      <if test="insureId != null" >
        #{insureId,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelId != null" >
        #{policyGradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="serviceCode != null" >
        #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null" >
        #{serviceTime,jdbcType=DECIMAL},
      </if>
      <if test="serviceStatus != null" >
        #{serviceStatus,jdbcType=VARCHAR},
      </if>
      <if test="serviceTimeLeft != null" >
        #{serviceTimeLeft,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.policyInsuredServiceEntity" >
    update policy_insured_service
    <set >
      <if test="policyNo != null" >
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="policyReinsuranceNo != null" >
        policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        br_no = #{brNo,jdbcType=DECIMAL},
      </if>
      <if test="insureId != null" >
        insure_id = #{insureId,jdbcType=VARCHAR},
      </if>
      <if test="policyGradeLevelId != null" >
        policy_grade_level_id = #{policyGradeLevelId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="serviceCode != null" >
        service_code = #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null" >
        service_time = #{serviceTime,jdbcType=DECIMAL},
      </if>
      <if test="serviceStatus != null" >
        service_status = #{serviceStatus,jdbcType=VARCHAR},
      </if>
      <if test="serviceTimeLeft != null" >
        service_time_left = #{serviceTimeLeft,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where policy_insured_service_id = #{policyInsuredServiceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.policyInsuredServiceEntity" >
    update policy_insured_service
    set policy_no = #{policyNo,jdbcType=VARCHAR},
      policy_reinsurance_no = #{policyReinsuranceNo,jdbcType=VARCHAR},
      br_no = #{brNo,jdbcType=DECIMAL},
      insure_id = #{insureId,jdbcType=VARCHAR},
      policy_grade_level_id = #{policyGradeLevelId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      service_code = #{serviceCode,jdbcType=VARCHAR},
      service_type = #{serviceType,jdbcType=VARCHAR},
      service_time = #{serviceTime,jdbcType=DECIMAL},
      service_status = #{serviceStatus,jdbcType=VARCHAR},
      service_time_left = #{serviceTimeLeft,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where policy_insured_service_id = #{policyInsuredServiceId,jdbcType=VARCHAR}
  </update>
</mapper>