<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.tbBaseHospitalYaofangEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.tbBaseHospitalYaofangEntity" >
    <id column="hospital_id" property="hospitalId" jdbcType="VARCHAR" />
    <result column="province_or_state" property="provinceOrState" jdbcType="VARCHAR" />
    <result column="city_or_district" property="cityOrDistrict" jdbcType="VARCHAR" />
    <result column="county_or_district" property="countyOrDistrict" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="another_name" property="anotherName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="nature" property="nature" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.junling.mis.model.tbBaseHospitalYaofangEntityWithBLOBs" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="department" property="department" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hospital_id, province_or_state, city_or_district, county_or_district, district_code, 
    hospital_name, another_name, address, nature, grade, contact_number, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <sql id="Blob_Column_List" >
    remark, department
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_base_hospital_yaofang
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_base_hospital_yaofang
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.tbBaseHospitalYaofangEntityWithBLOBs" >
    insert into tb_base_hospital_yaofang (hospital_id, province_or_state, city_or_district, 
      county_or_district, district_code, hospital_name, 
      another_name, address, nature, 
      grade, contact_number, created_by, 
      created_time, updated_by, updated_time, 
      remark, department)
    values (#{hospitalId,jdbcType=VARCHAR}, #{provinceOrState,jdbcType=VARCHAR}, #{cityOrDistrict,jdbcType=VARCHAR}, 
      #{countyOrDistrict,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR}, 
      #{anotherName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{nature,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=LONGVARCHAR}, #{department,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.tbBaseHospitalYaofangEntityWithBLOBs" >
    insert into tb_base_hospital_yaofang
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        hospital_id,
      </if>
      <if test="provinceOrState != null" >
        province_or_state,
      </if>
      <if test="cityOrDistrict != null" >
        city_or_district,
      </if>
      <if test="countyOrDistrict != null" >
        county_or_district,
      </if>
      <if test="districtCode != null" >
        district_code,
      </if>
      <if test="hospitalName != null" >
        hospital_name,
      </if>
      <if test="anotherName != null" >
        another_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="nature != null" >
        nature,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="contactNumber != null" >
        contact_number,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="department != null" >
        department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="provinceOrState != null" >
        #{provinceOrState,jdbcType=VARCHAR},
      </if>
      <if test="cityOrDistrict != null" >
        #{cityOrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="countyOrDistrict != null" >
        #{countyOrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        #{districtCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="anotherName != null" >
        #{anotherName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        #{nature,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null" >
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.tbBaseHospitalYaofangEntityWithBLOBs" >
    update tb_base_hospital_yaofang
    <set >
      <if test="provinceOrState != null" >
        province_or_state = #{provinceOrState,jdbcType=VARCHAR},
      </if>
      <if test="cityOrDistrict != null" >
        city_or_district = #{cityOrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="countyOrDistrict != null" >
        county_or_district = #{countyOrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null" >
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="anotherName != null" >
        another_name = #{anotherName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        nature = #{nature,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null" >
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.junling.mis.model.tbBaseHospitalYaofangEntityWithBLOBs" >
    update tb_base_hospital_yaofang
    set province_or_state = #{provinceOrState,jdbcType=VARCHAR},
      city_or_district = #{cityOrDistrict,jdbcType=VARCHAR},
      county_or_district = #{countyOrDistrict,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      another_name = #{anotherName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=LONGVARCHAR},
      department = #{department,jdbcType=LONGVARCHAR}
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.tbBaseHospitalYaofangEntity" >
    update tb_base_hospital_yaofang
    set province_or_state = #{provinceOrState,jdbcType=VARCHAR},
      city_or_district = #{cityOrDistrict,jdbcType=VARCHAR},
      county_or_district = #{countyOrDistrict,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      another_name = #{anotherName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </update>
</mapper>