<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.tbImageTypeEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.tbImageTypeEntity" >
    <id column="doc_type_code" property="docTypeCode" jdbcType="VARCHAR" />
    <result column="doc_type_name" property="docTypeName" jdbcType="VARCHAR" />
    <result column="doc_type_parent" property="docTypeParent" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    doc_type_code, doc_type_name, doc_type_parent, created_by, created_time, updated_by, 
    updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_image_type
    where doc_type_code = #{docTypeCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_image_type
    where doc_type_code = #{docTypeCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.tbImageTypeEntity" >
    insert into tb_image_type (doc_type_code, doc_type_name, doc_type_parent, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{docTypeCode,jdbcType=VARCHAR}, #{docTypeName,jdbcType=VARCHAR}, #{docTypeParent,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.tbImageTypeEntity" >
    insert into tb_image_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="docTypeCode != null" >
        doc_type_code,
      </if>
      <if test="docTypeName != null" >
        doc_type_name,
      </if>
      <if test="docTypeParent != null" >
        doc_type_parent,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="docTypeCode != null" >
        #{docTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="docTypeName != null" >
        #{docTypeName,jdbcType=VARCHAR},
      </if>
      <if test="docTypeParent != null" >
        #{docTypeParent,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.tbImageTypeEntity" >
    update tb_image_type
    <set >
      <if test="docTypeName != null" >
        doc_type_name = #{docTypeName,jdbcType=VARCHAR},
      </if>
      <if test="docTypeParent != null" >
        doc_type_parent = #{docTypeParent,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where doc_type_code = #{docTypeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.tbImageTypeEntity" >
    update tb_image_type
    set doc_type_name = #{docTypeName,jdbcType=VARCHAR},
      doc_type_parent = #{docTypeParent,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where doc_type_code = #{docTypeCode,jdbcType=VARCHAR}
  </update>
</mapper>