<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junling.mis.mapper.thirdPartyPaymentEntityMapper" >
  <resultMap id="BaseResultMap" type="com.junling.mis.model.thirdPartyPaymentEntity" >
    <id column="third_party_payment_id" property="thirdPartyPaymentId" jdbcType="VARCHAR" />
    <id column="claim_info_id" property="claimInfoId" jdbcType="VARCHAR" />
    <result column="claim_bill_no" property="claimBillNo" jdbcType="VARCHAR" />
    <result column="third_party_payment_amount" property="thirdPartyPaymentAmount" jdbcType="DECIMAL" />
    <result column="third_party_payment_type" property="thirdPartyPaymentType" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    third_party_payment_id, claim_info_id, claim_bill_no, third_party_payment_amount, 
    third_party_payment_type, created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.junling.mis.model.thirdPartyPaymentEntityKey" >
    select 
    <include refid="Base_Column_List" />
    from third_party_payment
    where third_party_payment_id = #{thirdPartyPaymentId,jdbcType=VARCHAR}
      and claim_info_id = #{claimInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.junling.mis.model.thirdPartyPaymentEntityKey" >
    delete from third_party_payment
    where third_party_payment_id = #{thirdPartyPaymentId,jdbcType=VARCHAR}
      and claim_info_id = #{claimInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junling.mis.model.thirdPartyPaymentEntity" >
    insert into third_party_payment (third_party_payment_id, claim_info_id, 
      claim_bill_no, third_party_payment_amount, third_party_payment_type, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{thirdPartyPaymentId,jdbcType=VARCHAR}, #{claimInfoId,jdbcType=VARCHAR}, 
      #{claimBillNo,jdbcType=VARCHAR}, #{thirdPartyPaymentAmount,jdbcType=DECIMAL}, #{thirdPartyPaymentType,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.junling.mis.model.thirdPartyPaymentEntity" >
    insert into third_party_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thirdPartyPaymentId != null" >
        third_party_payment_id,
      </if>
      <if test="claimInfoId != null" >
        claim_info_id,
      </if>
      <if test="claimBillNo != null" >
        claim_bill_no,
      </if>
      <if test="thirdPartyPaymentAmount != null" >
        third_party_payment_amount,
      </if>
      <if test="thirdPartyPaymentType != null" >
        third_party_payment_type,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thirdPartyPaymentId != null" >
        #{thirdPartyPaymentId,jdbcType=VARCHAR},
      </if>
      <if test="claimInfoId != null" >
        #{claimInfoId,jdbcType=VARCHAR},
      </if>
      <if test="claimBillNo != null" >
        #{claimBillNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyPaymentAmount != null" >
        #{thirdPartyPaymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="thirdPartyPaymentType != null" >
        #{thirdPartyPaymentType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junling.mis.model.thirdPartyPaymentEntity" >
    update third_party_payment
    <set >
      <if test="claimBillNo != null" >
        claim_bill_no = #{claimBillNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyPaymentAmount != null" >
        third_party_payment_amount = #{thirdPartyPaymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="thirdPartyPaymentType != null" >
        third_party_payment_type = #{thirdPartyPaymentType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where third_party_payment_id = #{thirdPartyPaymentId,jdbcType=VARCHAR}
      and claim_info_id = #{claimInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junling.mis.model.thirdPartyPaymentEntity" >
    update third_party_payment
    set claim_bill_no = #{claimBillNo,jdbcType=VARCHAR},
      third_party_payment_amount = #{thirdPartyPaymentAmount,jdbcType=DECIMAL},
      third_party_payment_type = #{thirdPartyPaymentType,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where third_party_payment_id = #{thirdPartyPaymentId,jdbcType=VARCHAR}
      and claim_info_id = #{claimInfoId,jdbcType=VARCHAR}
  </update>
</mapper>